body {
	background-color: #121212;
}


header {
	padding: 25px 0;
}

main {
	max-width: 80%;
	padding: 10px;
	margin: 0 auto;
}

@media(max-width: 800px) {
	main {
		max-width: 90%;
	}
}

section {
	margin-bottom: 40px;
}


footer {
	padding: 0 0 20px 0;
	font-size: 13px;
	color: #aaa;


	a {
		color: #666;
	}

	a:hover {
		color: #444;
	}
}

/* MISC */
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}