#logo {
	float: left;
	margin-right: 20px;

}

/*#logo img {*/
/*	-webkit-filter: drop-shadow(1px 1px 5px #eee);*/
/*	filter: drop-shadow(1px 1px 5px #eee);*/
/*}*/

#demo_drop-in {
	margin-top: -170px;
	display: block;
	width: 100%;
	height: 250px;
	color: #5e5e5e;
	text-align: right;
	-webkit-box-shadow: inset 0 -5px 15px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 -10px 20px 0 rgba(0, 0, 0, 1);
	background-color: #1a1a1a;
	background: url(../images/atheos_sneak_peak.png) 0 70px no-repeat #1a1a1a;
	overflow: hidden;
	transition: color .5s ease-in, margin .5s ease-in;
	-moz-transition: color .5s ease-in, margin .5s ease-in;
	-o-transition: color .5s ease-in, margin .5s ease-in;
	-webkit-transition: color .5s ease-in, margin .5s ease-in;
}

#demo_drop-in:hover {
	text-decoration: none;
	color: #fff;
	margin-top: -70px;
	transition-delay: 0.2s;
}

#demo_drop-in span {
	display: block;
	font-weight: normal;
	margin: 215px 20px 0 20px;
	font-size: 18px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}