@font-face {
	font-family: 'CFA';
	src: url('/fonts/CFA/cfa.eot?75429923');
	src: url('/fonts/CFA/cfa.eot?75429923#iefix') format('embedded-opentype'),
		url('/fonts/CFA/cfa.woff?75429923') format('woff'),
		url('/fonts/CFA/cfa.ttf?75429923') format('truetype'),
		url('/fonts/CFA/cfa.svg?75429923#cfa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/UW/ubuntu-webfont.eot');
	src: url('/fonts/UW/ubuntu-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/UW/ubuntu-webfont.woff') format('woff'),
		url('/fonts/UW/ubuntu-webfont.ttf') format('truetype'),
		url('/fonts/UW/ubuntu-webfont.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 1em;
	line-height: 1.5;
	color: #ddd;

}

h1 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 43px;
	height: 45px;
	line-height: 43px;
	color: #fff;
}

h2 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 24px;
	line-height: 1.3;
	color: #aaa;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin: 16px 0 8px 0;
	color: #fff;
	border-bottom: 1px solid #fff;
}

small {
	font-size: 13px;
	color: #aaa;
	padding: 0 0 0 10px;
	letter-spacing: 0;
}


p {
	font-weight: 300;
	margin-bottom: 10px;

	a {
		font-weight: normal;
	}
}

a {
	color: #34437a;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;

	&.button {
		color: #404040;
		padding: 12px 8px;
		font-size: 14px;
		line-height: 24px;
		float: left;
		width: 140px;
		margin-right: 15px;
		text-align: center;
		background-color: #fdfdfd;
	}

	&:hover {
		color: #34437a;
	}
}


.right {
	text-align: right;
}
.center {
	text-align: center;
}
em {
	font-size: 12px;
	color: #666;
	font-style: italic;
}

strong {
	font-weight: bold;
}


blockquote {
	font-size: 1.6em;
	border-left: 10px solid #e9e9e9;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}