@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu-webfont.eot');
	src: url('../fonts/ubuntu-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ubuntu-webfont.woff') format('woff'),
		url('../fonts/ubuntu-webfont.ttf') format('truetype'),
		url('../fonts/ubuntu-webfont.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 1em;
	line-height: 1.5;
	color: #ddd;

}

h1 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 43px;
	height: 45px;
	line-height: 43px;
	color: #fff;
}

h2 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 24px;
	line-height: 1.3;
	color: #aaa;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #fff;
}

small {
	font-size: 13px;
	color: #aaa;
	padding: 0 0 0 10px;
	letter-spacing: 0;
}


p {
	font-weight: 300;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

p a {
	font-weight: 400;
}

blockquote {
	font-size: 1.6em;
	border-left: 10px solid #e9e9e9;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}