[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "CFA";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	font-size: 150%;

	/* Uncomment for 3D effect */
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-large {
	font-size: 150%;
}

.icon-cog:before {
	content: '\e800';
}

.icon-update:before {
	content: '\e801';
}

.icon-home:before {
	content: '\e802';
}

.icon-cogs:before {
	content: '\e803';
}

.icon-dir:before {
	content: '\e805';
}

.icon-download:before {
	content: '\e804';
}

.icon-market:before {
	content: '\e806';
}

.icon-donate:before {
	content: '\e807';
}

.icon-dir-open:before {
	content: '\e808';
}

.icon-manual:before {
	content: '\e809';
}

.icon-file:before {
	content: '\e80a';
}

.icon-toc:before {
	content: '\e80b';
}

.icon-github:before {
	content: '\f09b';
}

.icon-menu:before {
	content: '\f0c9';
}

.icon-coffee:before {
	content: '\f0f4';
}

.icon-code:before {
	content: '\f121';
}