.features_left,
.features_right {
	width: auto;
	display: block;
	float: none;

	li {
		list-style: disc inside;
		padding-left: 20px;
	}

}

@media (min-width: $desktop-width) {

	.features_left {
		width: 45%;
		display: inline-block;
		float: left;
		margin: 0 10% 0 0;
	}

	.features_right {
		width: 45%;
		display: inline-block;
		float: left;
		margin: 0;
	}
}