table {
	// width: 100%;
	// background-color: #ebebeb;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;


	th {
		border: 1px solid #ebebeb;
		text-align: left;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
		// width: 100%;
		background-color: #151515;
		padding: 12px 10px 10px 10px;
	}

	td {
		// &:nth-child(1) {
		// 	font-weight: bold;
		// }
		// text-align: center;
		text-align: left;
		font-weight: 300;
		background-color: #121212;
		padding: 12px 10px 10px 10px;
		border: 1px solid #ebebeb;

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}

		span {
			color: #777;
			display: none;
			font-size: 10px;
			font-weight: bold;
			padding: 5px;
			position: absolute;
			text-transform: uppercase;
			top: 0;
			left: 0;
		}

		a {
			color: #ccc;
		}
	}

}

/* Simple CSS for flexbox table on mobile */
@media(max-width: 800px) {
	table {
		thead {
			left: -9999px;
			position: absolute;
			visibility: hidden;
			display: none;
		}

		tr {
			border-bottom: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-bottom: 10px;

			&.category {
				// margin-bottom: 0;
				text-align: center;
			}
		}

		td {
			// border: 1px solid;
			// margin: 0 -1px -1px 0;
			// padding-top: 35px;
			position: relative;
			width: 50%;
			padding-top: 20px;

			// &:not(.icon) {
			// 	padding-top: 20px;
			// }

			&.icon {
				width: 25%;
			}


			span {
				display: block;
			}
		}
	}
}