.alert {
	display: none;
	min-height: 50px;
	min-width: 200px;
	position: absolute;
	top: 10%;
	left: calc(50% - 200px);
	background-color: #333;
	border: 3px solid rgba(255, 255, 255, 0.5);
	padding: 10px;
	z-index: 99999;

	h1 {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 5px;
	}

	h2 {
		text-align: left;
		font-size: 14px;
	}

	.actions {
		width: 100%;
		margin-top: 5px;
		text-align: center;

		button {
			min-width: 90px;
		}
	}
}