#modal_wrapper {
	position: absolute;
	top: 15%;
	left: 50%;
	max-height: 70vh;
	max-width: 90vw;
	z-index: 9999995;
	min-height: 100px;
	min-width: 400px;
	border: $borderHeavy;
}

#modal_content {
	background-color: $background;

	form {
		padding: 10px 10px 0;
		background-color: $mideground;

		toolbar {
			margin: 10px -10px 0;
		}
	}
}