/* UPLOADER */
#upload-drop-zone {
	height: 200px;
	padding-top: 60px;
	border: 1px solid #666;
	border-radius: 5px;
	margin: 10px 0;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .5);
	text-align: center;
	font-size: 25px;
	color: #999;
}

.upload-drag-over {
	border: 1px solid #fff;
}

#upload-wrapper {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

#upload-clicker {
	background: #333;
	color: #999;
	cursor: pointer;
	display: inline-block;
}

#upload-wrapper:hover #upload-clicker {
	color: #fff;
}

#upload-wrapper input {
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.0;
}

#upload-progress {
	width: 75%;
	margin: 10px auto;
	height: 20px;
	border: 1px solid #666;
	background: #262626;
	border-radius: 5px;
	overflow: hidden;
}

#upload-progress .bar {
	width: 0;
	height: 20px;
	background-image: url(images/default/progress_bar.png);
}

#upload-complete {
	display: none;
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}