button {
	display: inline-block;
	width: auto;
	margin: 3px 0;
	min-width: 80px;
	color: $background;
	font-size: 13px;
	font-weight: bold;
	background-color: $base07;
	border: none;
	border-bottom: 2px solid #7d7d7d;
	cursor: pointer;

	&.bottom-left {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	&:disabled {
		color: $grey;
		cursor: unset;

		&:hover {
			color: $grey;
			background-color: $base07;
		}
	}
}

button+button {
	margin-left: 6px;
}

button:hover {
	color: #333;
	background-color: #BBB;
}

// button.btn-left {
//     // border-radius: 3px 0px 0px 3px;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-mid {
//     // border-radius: 0;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-right {
//     // border-radius: 0px 3px 3px 0px;
//     border-radius: $border-radius;
// }

button .icon {
	padding: 0 5px 0 0;
}