button {
	display: inline-block;
	width: auto;
	margin: 3px 0;
	min-width: 80px;
	color: $background;
	font-weight: bold;
	background-color: $fontColorMajor;
	cursor: pointer;

	&.bottom-left {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	&:disabled {
		color: $grey;
		cursor: unset;

		&:hover {
			color: $grey;
			background-color: $fontColorMajor;
			border-color: $metal;
		}
	}

	&:hover {
		background-color: $fontColorMinor;
		border-color: $coal;
	}

	&:focus {
		outline: none;
	}

	&+button {
		margin-left: 6px;
	}
}