button {
	display: inline-block;
	width: auto;
	margin: 3px 0;
	min-width: 80px;
	color: #242424;
	font-size: 13px;
	font-weight: bold;
	background-color: #EEEEEE;
	border: none;
	border-bottom: 2px solid #7d7d7d;

	&.bottom-left {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
}

button+button {
	margin-left: 6px;
}

button:hover {
	color: #333;
	background-color: #f3f3f3;
	cursor: pointer;
	border-bottom: 2px solid #919191;
}

// button.btn-left {
//     // border-radius: 3px 0px 0px 3px;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-mid {
//     // border-radius: 0;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-right {
//     // border-radius: 0px 3px 3px 0px;
//     border-radius: $border-radius;
// }

button .icon {
	padding: 0 5px 0 0;
}