#dependencies,
button,
input,
select,
textarea {
	// display: block;
	width: 100%;
	padding: 7px 10px;
	margin: 5px 0;
	background-color: $inputBackground;
	border: none;
	border-bottom: 2px solid #595959;
	color: #fff;
	line-height: normal;
	@include border-radius;
}

#dependencies .error {
	color: red;
}

#dependencies .success {
	color: green;
}

select option {
	background-color: $inputBackground;
}

textarea {
	min-height: 100px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	background-color: $inputBackground;
	border-bottom: 2px solid #ccc;
}