panel {
	padding: 5px;
	width: calc(100% - 200px);
	overflow: auto;
	overflow-y: scroll;
	height: 500px;
	position: relative;

	@include border(1px, left);

	form {
		padding: 0;
	}

	&>label:first-of-type {
		font-size: $fontSizeH2;
		padding: 3px 0;
		margin-bottom: 3px;

		@include border(3px, bottom);
	}
}