nav {
	height: 100%;
	position: relative;

	@media (min-width: $desktop) {
		border-top: 1px solid $fontColorMajor;
	}

	// ul {
	// 	position: absolute;
	// 	// top: 4em;
	// 	left: 0;
	// 	margin: 0;
	// 	padding: 0;
	// 	width: $sidebarWidth;
	// 	overflow: auto;
	// 	height: 100%;

	// }

	a {
		width: 100%;
		padding: 10px 15px;
		border-bottom: 1px solid $fontColorMajor;
		position: relative;
		display: inline-block;
		font-weight: bold;
		color: $fontColorMajor;
		vertical-align: middle;

		span {
			pointer-events: none;
		}

		&:hover {
			background-color: $shade7;
		}

	}


}