.project-delete {
	background-color: $shade7;

	tr {
		td:first-child {
			font-weight: bold;
		}

		td+td {
			padding: 0;

			pre {
				margin: 0;
			}
		}

		toggle {
			border-bottom: none;
		}
	}
}