#dialog form[enctype="multipart/form-data"] {
	padding: 5px 10px 10px;
}

#upload_wrapper {
	position: relative;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 50px;
	border: 2px dashed #666;
	font-size: 25px;
	color: $fontColorMinor;
	background-color: $inputBackground;

	&:hover {
		color: $fontColorMajor;
	}

	input {
		cursor: pointer;
		height: 100%;
		position: absolute;
		border: none;
		padding: 0;
		margin: 0;
		right: 0;
		top: 0;
		opacity: 0;
	}
}

.upload-progress {
	margin: 5px auto 0;
	background-color: $inputBackground;
	position: relative;
	height: 20px;
	border: $borderLight;

	span,
	div {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		font-family: 'Ubuntu-Fira';
	}

	span {
		padding: 1px;
		bottom: 0;
		right: 0;
		text-align: center;
		vertical-align: middle;
	}

	div {
		background-color: $green;

		&.error {
			background-color: $red;
		}
	}
}