*~
*\#
*.swp
.ignore
config.php
!*/README.md
data/*
!data/.htaccess
workspace/*
plugins/*
public/*.min.*
themes/*
!themes/atheos/

*.disabled*
js/*.disabled.*
components/*/*.disabled.*

notes/*
restore.php
restore/*

lib/hub-updater