*~
*\#
*.swp
workspace/
plugins/*
!plugins/README.md
!plugins/Codiad-ColorPicker-master/*
!plugins/Codiad-DiffViewer-master/*
themes/*
!themes/default/
!themes/README.md
.project
.buildpath
.settings/
.svn/
