ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php


RewriteEngine on

# RewriteCond %{REQUEST_FILENAME}/market !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ /index.php [NC,L,QSA]

RewriteRule ^market/(.*)$ /endpoint.php [NC,L,QSA]
RewriteRule ^analytics(.*)$ /endpoint.php [NC,L,QSA]
RewriteRule ^requestKey(.*)$ /endpoint.php [NC,L,QSA]

RedirectMatch 403 ^/data/*$
