Options -Indexes

ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

RedirectMatch 403 ^/data/*$
RedirectMatch 403 ^/notes/*$
RedirectMatch 403 ^/workspace/?$

<Files ~ "^.*\.(txt|yml|md|xml|json)">
  Require all denied
</Files>