<div class="git_branch_area">
	<label>Status: <span class="git_area_path"></span></label>
    <header>
        <button onclick="atheos.codegit.showDialog('overview', atheos.codegit.location); return false;">Overview</button>
        <button onclick="atheos.codegit.showCommitDialog(); return false;">Commit</button>
        <button onclick="atheos.codegit.showDialog('branches', atheos.codegit.location); return false;">Branches</button>
        <button onclick="atheos.codegit.showDialog('remote', atheos.codegit.location); return false;">Remotes</button>
        <button onclick="atheos.codegit.showDialog('log', atheos.codegit.location); return false;">Log</button>
        <button onclick="atheos.codegit.showDialog('push', atheos.codegit.location); return false;">Pull/Push</button>
        <button onclick="atheos.codegit.network(atheos.codegit.location); return false;">Network</button>
    </header>
    <div class="content">
        Current branches: <select id="git_branches"></select>
    </div>
    <footer>
        <button onclick="codiad.modal.unload(); return false;">Close</button>
        <button onclick="atheos.codegit.createChangesTable(); return false;">Reload</button>
        <button onclick="atheos.codegit.showDialog('userConfig', atheos.codegit.location); return false;">User config</button>
    </footer>
    <script>
		atheos.codegit.createChangesTable();
		$('.git_area_path').text(atheos.codegit.location);    
        atheos.codegit.getBranches();
        function renameBranch() {
            atheos.codegit.name = $('#git_branches').val();
            atheos.codegit.showDialog('renameBranch', atheos.codegit.location);
        }
    </script>
</div>