<div class="git_checkout_remote_area">
    <div class="content">
        <label>Checkout <span id="git_remote"></span></label>
        Remote branches: <select id="git_remote_branches" onchange="onChangeCombobox();"></select>
        New branch: <input type="text" id="git_new_branch">
    </div>
    <footer>
        <button onclick="atheos.codegit.checkoutRemote(); return false;">Checkout</button>
        <button onclick="atheos.codegit.showDialog('overview', atheos.codegit.location); return false;">Overview</button>
    </footer>
    <script>
        atheos.codegit.getRemoteBranches();
        $('#git_remote_branches').focus();
    </script>
</div>