<div class="git_new_remote_area">
    <div class="content">
        <label>New remote</label>
        <input type="text" id="remote_name" placeholder="Remote name">
        <input type="text" id="remote_url" placeholder="Remote url">
    </div>
    <footer>
        <button onclick="atheos.codegit.showDialog('remote', atheos.codegit.location); return false;">Remotes</button>
        <button onclick="atheos.codegit.newRemote(atheos.codegit.location); return false;">New remote</button>
    </footer>
</div>