<div class="git_rename_remote_area">
    <div class="content">
        <label>Rename <span id="git_remote"></span></label>
        <input type="text" id="git_new_name" placeholder="New name">
    </div>
    <footer>
        <button onclick="atheos.codegit.renameRemote(); return false;">Rename</button>
        <button onclick="atheos.codegit.showDialog('overview', atheos.codegit.location); return false;">Overview</button>
    </footer>
    <script>
        $('#git_new_name').focus();
        $('#git_remote').text(atheos.codegit.name);
    </script>
</div>