<div class="git_rename_branch_area">
    <div class="content">
        <label>Rename <span id="git_branch"></span></label>
        <input type="text" id="git_new_name" placeholder="New name">
    </div>
    <footer>
        <button onclick="atheos.codegit.renameBranch(); return false;">Rename</button>
        <button onclick="atheos.codegit.showDialog('overview', atheos.codegit.location); return false;">Overview</button>
    </footer>
    <script>
        $('#git_new_name').focus();
        $('#git_branch').text(atheos.codegit.name);
    </script>
</div>