@charset "UTF-8";

@font-face {
	font-family: 'VictorMono';
	src: url('VictorMono-Italic.woff2') format('woff2'),
		url("VictorMono-Italic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'VictorMono';
	src: url('VictorMono-Regular.woff2') format('woff2'),
		url("VictorMono-Regular.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'VictorMono-Bold';
	src: url('VictorMono-SemiBold.woff2') format('woff2'),
		url('VictorMono-SemiBold.woff') format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'VictorMonoVF';
	src: url('VictorMono-VF.woff2') format('woff2-variations'),
		url('VictorMono-VF.woff') format('woff-variations');
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}