#settings {
	display: flex;
	border-top: $border-thin;

	.big-icon {
		font-size: 100%;
		margin-right: 12px;
	}

	#panel_menu {
		max-height: 55vh;
		overflow: auto;
		width: 200px;

		li a {
			display: block;
			padding: 10px;
			user-select: none;

			i {
				margin-right: 5px;
			}
		}

		.active {
			background-color: $blue;
		}
	}

	#panel_view {
		padding: 5px;
		width: 100%;
		overflow: auto;
		overflow-y: scroll;
		height: 500px;
		// border-left: $border-thin;
		@include border(1px, left);

		form {
			padding: 0;
		}
	}
}