#settings {
	display: flex;
	@include border(1px, top);

	.big-icon {
		font-size: 100%;
		margin-right: 12px;
	}

	#panel_menu {
		max-height: 55vh;
		overflow: auto;
		width: 200px;

		li a {
			display: block;
			padding: 10px;
			user-select: none;

			i {
				margin-right: 5px;
			}
		}

		.active {
			background-color: $blue;
		}
	}

	#panel_view {
		padding: 5px;
		width: 100%;
		overflow: auto;
		overflow-y: scroll;
		height: 500px;
		@include border(1px, left);

		form {
			padding: 0;
		}
	}

	.settings td {
		border: none;
		border-bottom: 1px solid #666;
		padding: 10px 0;
	}

	.settings td:first-child {
		padding-right: 20px;
		font-weight: bold;
	}

	.settings select {
		margin: 0;
	}

	.settings tr:last-child td {
		border: none;
	}
}

#settings_open {
	float: left;
	display: none;
}