.sidebar .content {
	position: absolute;
	top: $topBarHeight;
	min-width: 185px;
	width: calc(100% - #{$sidebarHandleWidth});
}

#sb_left .content {
	left: 0;
	right: $sidebarHandleWidth;
	bottom: 280px;
}

#sb_right .content {
	left: $sidebarHandleWidth;
	right: 0;
	height: calc(100% - #{$topBarHeight});
}