.sidebar .content {
	position: absolute;
	top: $topBarHeight;
	// min-width: 185px;
	width: calc(100% - #{$sidebarHandleWidth});
	overflow: hidden;
}

#sb_left {
	.content {
		left: 0;
		right: $sidebarHandleWidth;
		bottom: $fileManagerHeight;
	}

	&>.content {
		transition: bottom ease-in-out $transitionDuration;
	}
}

#sb_right {
	.content {
		left: $sidebarHandleWidth;
		right: 0;
		height: calc(100% - #{$topBarHeight});
	}

	#last_login {
		display: block;
		margin-bottom: 5px;
	}
}