#sb_left #project_list {
	.title {
		right: 0;
	}


	position: absolute;
	height: 280px;
	bottom: 0;
	left: 0;
	right: $sidebarHandleWidth;

	.content {
		height: calc(100% - #{$topBarHeight});
		overflow-y: scroll;
		width: 100%;

		i {
			color: $accent-color;
		}

		ul {
			height: 100%;
			display: block;
		}


		li {
			padding: 5px;
			white-space: nowrap;
			cursor: pointer;
			@include border-radius;

			&:hover {
				background-color: #333;
			}
		}
	}

}