$red:     #FF453A;
$orange:  #F08D24; //#FF9F0A;
$yellow:  #FFD60A; //#E69900;
$lime:    #01FF70;
$green:   #46A609; //#30D158;
$olive:   #3D9970;
$teal:    #008080; //Need to find a better teal
$aqua:    #7FDBFF; //#1CC3E8;
$cyan:    #80FFF4;
$indigo:  #5E5CE6; 
$blue:    #0A84FF; 
$navy:    #001f3f;
$maroon:  #85144b;
$fushia:  #F012BE;
$purple:  #BF5AF2; 
$pink:    #FF375F; //#FF375F; 

$white:		#F5F9FF;
$silver:	#D5D9DD;
$gray:		#A5A9AA;
$metal:		#757577;
$charcoal:	#414141;
$smoke:		#353533;
$raven:		#252525;
$ebony:		#1C1C1E;
$black:		#1A1A1B; //#17171C;