#SBLEFT #project_list {
	.title {
		right: 0;
	}


	position: absolute;
	height: $fileManagerHeight;
	bottom: 0;
	left: 0;
	right: $sidebarHandleWidth;
	transition: height ease-in-out $transitionDuration;
	overflow: hidden;

	.content {
		height: calc(100% - #{$topBarHeight});
		overflow-y: scroll;
		width: 100%;

		i {
			margin-right: 5px;
			color: $colorMajor;
		}

		ul {
			height: 100%;
			display: block;
		}


		li {
			padding: 5px;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				background-color: $hoverMinor;
			}
		}
	}

}