<div class="git_commit_area">
	<div class="content">
		<input type="text" id="commit_msg" placeholder="Enter commit message here...">
		<button onclick="codiad.codegit.commit(codiad.codegit.location, $('#commit_msg').val()); return false;">Commit</button>
		<ul class="git_diff"></ul>
	</div>
	<script>
		$('.git_area_path').text(codiad.codegit.location);
		atheos.codegit.getBranches();

		if (atheos.codegit.files.length === 0) {
			atheos.message.error("Nothing to commit!");
			atheos.codegit.showDialog('overview', codiad.codegit.location);
		} else {
			if (!atheos.codegit.suppressCommitDiff()) {
				atheos.codegit.filesDiff();
			}
			$('.git_commit_area #commit_msg').focus();
		}
	</script>
</div>