<div class="git_push_area">
	<div class="content">
		<label>Pull/Push</label>
		<button onclick="codiad.codegit.push(); return false;">Push</button>
		<button onclick="codiad.codegit.pull(); return false;">Pull</button>
		<table>
			<tr>
				<td>Remote:</td>
				<td><select id="git_remotes"></select></td>
			</tr>
			<tr>
				<td>Branch:</td>
				<td><select id="git_branches"></select></td>
			</tr>
		</table>
	</div>
	<script>

		$('.git_area_path').text(codiad.codegit.location);
		codiad.codegit.getBranches();

		function renameBranch() {
			codiad.codegit.name = $('#git_branches').val();
			codiad.codegit.showDialog('renameBranch', codiad.codegit.location);
		}
		codiad.codegit.getRemotes();
		codiad.codegit.getBranches();
	</script>
</div>