<div class="git_remote_area">
	Current remotes: <select id="git_remotes"></select>
			<button onclick="codiad.codegit.showDialog('overview', codiad.codegit.location); return false;">Overview</button>
		<button onclick="codiad.codegit.removeRemote(); return false;">Remove</button>
		<button onclick="codiad.codegit.showDialog('newRemote', codiad.codegit.location); return false;">New</button>
		<button onclick="renameRemote(); return false;">Rename</button>
		<button onclick="codiad.codegit.fetch(); return false;">Fetch</button>
		<button onclick="checkoutRemote(); return false;">Checkout</button>
	<div class="git_remote_info"></div>
	<script>

		$('.git_area_path').text(codiad.codegit.location);
		codiad.codegit.getBranches();

		function renameBranch() {
			codiad.codegit.name = $('#git_branches').val();
			codiad.codegit.showDialog('renameBranch', codiad.codegit.location);
		}
		codiad.codegit.getRemotes();

		function renameRemote() {
			codiad.codegit.name = $('#git_remotes').val();
			codiad.codegit.showDialog('renameRemote', codiad.codegit.location);
		}

		function checkoutRemote() {
			codiad.codegit.showDialog('checkoutRemote', codiad.codegit.location);
		}
	</script>
</div>