/*--------------------
 Menu and search
--------------------*/
.header .navbar-collapse {
  box-shadow: none;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 8px;
  padding: 0;
}
.header .main-nav button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 padding-box;
  border-radius: 0;
  color: #fff;
}
.header .main-nav button:focus {
  outline: 0 none;
}
.header .main-nav button:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.header .main-nav button .icon-bar {
  background-color: #6f7581;
  height: 3px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #eee;
  color: #434343;
  outline: 0 none;
  text-decoration: none;
}
.dropdown-menu.searchbox {
  position: absolute;
  right: 0;
  text-align: center;
  margin: auto;
}
.navbar-form {
  padding: 5px 25px;
  border: none;
  width: 250px;
}
.navbar-form.search .form-control {
  height: 35px;
  background: #fff;
  color: #666666;
  font-size: 11px;
}
.navbar-form.search .btn-submit {
  width: 35px;
  height: 35px;
  border: none;
  background: #A8BEE3;
  border-radius:0 4px 4px 0;
}
.navbar-form.search .btn-submit:hover {
  background: #658BCD;
}
.navbar-form.search .btn {
  font-weight: bold;
  margin-top: 0px;
}
.search-wrapper {
  padding-right:15px;
  padding-left:15px;
}