@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/file-icons/fontawesome.woff2');
}

@font-face {
	font-family: 'Mfizz';
	src: url('/fonts/file-icons/mfixx.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Octicons Regular';
	src: url('/fonts/file-icons/octicons.woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Devicons';
	src: url('/fonts/file-icons/devopicons.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'file-icons';
	src: url('/fonts/file-icons/file-icons.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}