#active_file_dropdown {
	position: absolute;
	top: $topBarHeight;
	right: $sidebarHandleWidth;
	max-width: 300px;
	z-index: 9999;
	background-color: $foreground;
	border: $borderLight;

	li {
		margin: 5px;
	}
}