/* Dropdown */
#active_file_dropdown {
	position: absolute;
	top: $topBarHeight;
	right: $sidebarHandleWidth;
	max-width: 300px;
	z-index: 9999;
	background-color: $foreground;
	border: $borderLight;


	li {
		position: relative;
		user-select: none;
		cursor: pointer;
	}

	.close {
		position: absolute;
		right: 9px;
		top: 6px;
		color: $fontColorMinor;
	}

	a {
		display: block;
		direction: rtl;
		padding: 5px 25px 5px 5px;
		margin: 5px;
		background-color: $background;
		text-align: right;
		height: 25px;
		overflow: hidden;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
		white-space: nowrap;
		color: $shade1;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 5px;
			top: 0;
			background: linear-gradient(to left, transparent 90%, #{$background});
		}
	}

	.subtle {
		color: $fontColorMinor;
		// color: #FAFAFA;
	}

	a:hover {
		background-color: $highlight;

		&::before {
			background: linear-gradient(to left, transparent 90%, #{$highlight});
		}
	}

	li.changed a {
		border: 3px solid $green;
		border-top: 0;
		border-bottom: 0;
	}
}