#ACTIVE {
	width: 100%;
	background: $foreground;
	position: relative;
	transition: border $transitionDuration ease;
	grid-area: active;
}

#tab_close,
#tab_dropdown {
	position: absolute;
	top: 8px;
	height: $topBarHeight;
	transition: margin-right $animationDuration ease-in-out;
	font-size: 16px;
	cursor: pointer;
	color: $fontColorMajor;

	&:hover {
		color: $hoverMajor;
	}
}

#tab_close {
	right: 10px;
}

#tab_dropdown {
	right: 35px;
}

@import "dropdown", "tabs";