/* Current Files */

/************************
 * Tab list
 ************************/

// #tab-list-active-files {
//     list-style-type: none;
//     overflow: hidden;
//     height: 33px;
//     margin: 0;
//     padding: 0;
//     padding-left: 15px;
// }

#tab-list-active-files li {
	margin-top: 5px;
	// height: 60px;
	width: auto;
	max-width: 200px;
	position: relative;
	float: left;
	// border-top-right-radius: 20px 60px;
	// border-top-left-radius: 20px 60px;
	// margin-left: -15px;
	// padding-left: 20px;
	margin-right: 2px;
	padding: 8.5px 5px;
	z-index: 1;
	@include box-shadow;
}

// #tab-list-active-files li.active {
//     z-index: 3;
// }

#tab-list-active-files li:first-child {
	margin-left: 0;
}

#tab-list-active-files li a {
	display: block;
	float: left;
	text-align: left;
	width: 140px;
	margin-left: -5px;
	// line-height: 26px;
	// padding-top: 8px;
	// padding-right: 5px;
	color: #757575;
	overflow: hidden;
	text-decoration: none;
	direction: rtl;
	white-space: nowrap;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

#tab-list-active-files li.active a {
	color: #A0A0A0;
}

#tab-list-active-files li .file-name {
	color: #AFAFAF;
}

#tab-list-active-files li.active .file-name {
	color: white;
}

// #tab-list-active-files li.changed {
//     /*font-weight: bold;*/
//     // border-top: 2px solid #3BA628;
//     background-color: #3BA628;
// } 

#tab-list-active-files li .close {
	display: block;
	position: absolute;
	font-family: "Font Awesome 5 Free";
	right: -10px;
}

#tab-list-active-files li .close:hover {
	color: #fff;
}

/* Clear Fix taken from HTML 5 Boilerplate. */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

#tab-list-active-files li {
	& .active {
		background: $tab-color;
	}
}


/* Dropdown */
#dropdown-list-active-files {
	position: absolute;
	z-index: 9999;
	background-color: $foreground;
	display: none;
	@include border-radius;
	@include box-shadow;
	@include border(3px);

	li {
		position: relative;
	}

	i {
		position: absolute;
		right: 9px;
		top: 6px;
	}


	a {
		display: block;
		padding: 5px 25px 5px 5px;
		margin: 5px;
		word-break: break-all;
		background-color: $background;
		text-align: right;
		height: 25px;
		// overflow: hidden;
		color: $fontColorMinor;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	}

	.file-name {
		color: #FAFAFA;
	}

	a:hover {
		background-color: #474747;
	}

	li.changed a {
		border: 3px solid $green;
		border-top: 0;
		border-bottom: 0;
	}
}