#editor-bottom-bar {
	position: relative;
	z-index: 1;
	height: $bottomBarHeight;
	padding: 5px 15px;
	background: $foreground;
	color: $font-color-subtle;

	&>a,
	&>span,
	&>div {
		// padding: 5px;
		font-size: 12px;
		user-select: none;
		display: inline-block;
	}
}

#cursor-position {
	position: absolute;
	right: 30px;
	bottom: 4px;
	font-size: 12px;
	z-index: 99;
	color: #999;
}

#split-options-menu {
	bottom: $bottomBarHeight;
	left: 5px;
}

#changemode-menu {
	bottom: $bottomBarHeight;
	left: 45px;
	font-size: inherit;
}

#current_file,
#current_mode,
#split {
	float: left;
}

#current_mode:hover,
#split:hover {
	color: #fff;
}

.divider {
	height: $bottomBarHeight;
	width: 1px;
	background: #333;
	margin: 0 15px;
	float: left;
}