#editor-top-bar {
	//top       : 0;
	//position  : fixed;
	//height    : 35px;
	width: 100%;
	color: $font-color-subtle;
	background: $foreground;
	/*box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);*/
	overflow: hidden;
	position: relative;
}

/************************
 * Close All & Dropdown Buttons
 ************************/



#tab-close,
#tab-dropdown {
	position: absolute;
	top: 8px;
	height: $topBarHeight;
	transition: margin-right $animation-duration ease-in-out;

	a {
		font-size: 16px;
		color: $icon-color;

		&:hover {
			color: lighten($icon-color, 30%);

		}
	}
}

#tab-close {
	right: 20px;

}

#tab-dropdown {
	right: 45px;
}