#editor-top-bar {
  top       : 0;
  position  : fixed;
  height    : 35px;
  width     : 100%;
  font-size : $font-size;
  color     : $font-color-subtle;
  background: $foreground;
  /*box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .9);*/
  overflow  : hidden;
}