/*============================================================================*
	PALETTE	
	From https://clrs.cc/
	Based on File-Icons
/*============================================================================*/

$adjust-tone: 0%;



$red:     #FF4136;
$orange:  #FF851B;
$yellow:  #FFDC00;
$lime:    #01FF70;
$green:   #2ECC40;
$olive:   #3D9970;
$teal:    #39CCCC;
$aqua:    #7FDBFF;
$cyan:    #80FFF4;
$blue:    #0074D9;
$navy:    #001f3f;
$maroon:  #85144b;
$fushia:  #F012BE;
$purple:  #B10DC9;
$pink:    #F01171;

// Red
$medium-red: $red;
$light-red: lighten($red, $adjust-tone);
$dark-red:   darken($red, $adjust-tone);

// Orange
$medium-orange: $orange;
$light-orange: lighten($orange, $adjust-tone);
$dark-orange:   darken($orange, $adjust-tone);

// Yellow
$medium-yellow: $yellow;
$light-yellow: lighten($yellow, $adjust-tone);
$dark-yellow:   darken($yellow, $adjust-tone);

// Lime
$medium-lime: $lime;
$light-lime: lighten($lime, $adjust-tone);
$dark-lime:   darken($lime, $adjust-tone);

// Green
$medium-green: $green;
$light-green: lighten($green, $adjust-tone);
$dark-green:   darken($green, $adjust-tone);

// Olive
$medium-olive: $olive;
$light-olive: lighten($olive, $adjust-tone);
$dark-olive:   darken($olive, $adjust-tone);

// Teal
$medium-teal: $teal;
$light-teal: lighten($teal, $adjust-tone);
$dark-teal:   darken($teal, $adjust-tone);

// Aqua
$medium-aqua: $aqua;
$light-aqua: lighten($aqua, $adjust-tone);
$dark-aqua:   darken($aqua, $adjust-tone);

// Cyan
$medium-cyan: $cyan;
$light-cyan: lighten($cyan, $adjust-tone);
$dark-cyan:   darken($cyan, $adjust-tone);

// Blue
$medium-blue: $blue;
$light-blue: lighten($blue, $adjust-tone);
$dark-blue:   darken($blue, $adjust-tone);

// Navy
$medium-navy: $navy;
$light-navy: lighten($navy, $adjust-tone);
$dark-navy:   darken($navy, $adjust-tone);

// Maroon
$medium-maroon: $maroon;
$light-maroon: lighten($maroon, $adjust-tone);
$dark-maroon:   darken($maroon, $adjust-tone);

// Fushia
$medium-fushia: $fushia;
$light-fushia: lighten($fushia, $adjust-tone);
$dark-fushia:   darken($fushia, $adjust-tone);

// Purple
$medium-purple: $purple;
$light-purple: lighten($purple, $adjust-tone);
$dark-purple:   darken($purple, $adjust-tone);

// Pink
$medium-pink: $pink;
$light-pink: lighten($pink, $adjust-tone);
$dark-pink:   darken($pink, $adjust-tone);

/*============================================================================*
	CSS CLASSES
/*============================================================================*/

.medium-red:before    { color: $medium-red; }

.medium-orange:before { color: $medium-orange; }

.medium-yellow:before { color: $medium-yellow; }

.medium-lime:before { color :$medium-lime; }

.medium-green:before  { color: $medium-green; }

.medium-olive:before   { color: $medium-olive; }

.medium-teal:before   { color: $medium-teal; }

.medium-aqua:before   { color: $medium-aqua; }

.medium-cyan:before   { color: $medium-cyan; }

.medium-blue:before   { color: $medium-blue; }

.medium-navy:before   { color: $medium-navy; }

.medium-maroon:before { color: $medium-maroon; }

.medium-fushia:before { color: $medium-fushia; }

.medium-purple:before { color: $medium-purple; }

.medium-pink:before   { color: $medium-pink; }

