#content {
	// width: 95%;
	margin: 0.5rem 0.5rem;
	padding: 0.5rem 0.5rem;
	// margin: 0 auto
	@include foreground;
}

/* Desktop View */
@media (min-width: $desktop-width) {

	#content {
		// width: 95%;
		margin: 0.5rem 1rem;
		padding: 0.5rem 1rem;

		// margin: 0 auto
	}
}