html,
body {
	margin: 0;
	width: 100%;
	height: 100vh;
}

body {
	background-color: $black;
}


main {
	padding: 10px;
	margin: 0 auto;
	max-width: none;
	padding: 0;
	margin-top: 4em;
	// overflow: auto;
	// height: 100%;

}

/* Desktop View */
@media (min-width: $desktop-width) {

	main {
		margin-left: $sidebar-width;
		margin-top: 0;
	}

}
