@font-face {
	font-family: 'CFA';
	src: url('/assets/fonts/CFA/cfa.eot?75429923');
	src: url('/assets/fonts/CFA/cfa.eot?75429923#iefix') format('embedded-opentype'),
		url('/assets/fonts/CFA/cfa.woff?75429923') format('woff'),
		url('/assets/fonts/CFA/cfa.ttf?75429923') format('truetype'),
		url('/assets/fonts/CFA/cfa.svg?75429923#cfa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/UW/Ubuntu-Regular.woff2') format('woff2'),
        url('/assets/fonts/UW/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/UW/Ubuntu-Bold.woff2') format('woff2'),
        url('/assets/fonts/UW/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body {
	font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, serif;
	font-size: 1em;
	line-height: 1.5;
	color: $white;

}

h1 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 43px;
	margin: 16px 0 8px 0;
	height: 45px;
	line-height: 43px;
}

h2 {
	font-weight: 900;
	letter-spacing: -1px;
	font-size: 24px;
	margin: 16px 0 8px 0;
	line-height: 1.3;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin: 8px 0 8px 0;
}

small {
	font-size: 13px;
	padding: 0 0 0 10px;
	letter-spacing: 0;
}


p {
	font-weight: 300;
	margin-bottom: 10px;

	a {
		font-weight: normal;
	}
}

a {
	color: $blue;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;

	&.button {
		color: $ebony;
		padding: 12px 8px;
		font-size: 14px;
		line-height: 24px;
		float: left;
		width: 140px;
		margin-right: 15px;
		text-align: center;
		background-color: $silver;
	}

	&:hover {
		// color: $onyx;
	}
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}



em {
	font-size: 12px;
	color: $grey;
	font-style: italic;
}

strong {
	font-weight: bold;
}