.split_left,
.split_right {
	width: auto;
	display: block;
	float: none;

	li {
		list-style: disc inside;
		padding-left: 20px;
	}

}

/* MISC */
.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

@media (min-width: $desktop-width) {

	.split_left {
		width: 45%;
		display: inline-block;
		float: left;
		margin: 0 10% 0 0;
	}

	.split_right {
		width: 45%;
		display: inline-block;
		float: left;
		margin: 0;
	}
}