#content {
	a {
		background-color: transparent
	}

	a:active,
	a:hover {
		outline: 0
	}

	strong {
		font-weight: bold
	}


	img {
		border: 0
	}

	hr {
		box-sizing: content-box;
		height: 0
	}

	pre {
		overflow: auto
	}
	
	p {
		code {
			color:$red;
		}
	}


	code,
	kbd,
	pre {
		font-family: monospace, monospace;
		font-size: 1em
	}

	input {
		color: inherit;
		font: inherit;
		margin: 0
	}

	html input[disabled] {
		cursor: default
	}

	input {
		line-height: normal
	}

	input[type="checkbox"] {
		box-sizing: border-box;
		padding: 0
	}

	// table {
	// 	border-collapse: collapse;
	// 	border-spacing: 0
	// }

	// td,
	// th {
	// 	padding: 0
	// }

	* {
		box-sizing: border-box
	}

	input {
		font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
	}

	a {
		color: #4078c0;
		text-decoration: none
	}

	a:hover,
	a:active {
		text-decoration: underline
	}

	hr {
		height: 0;
		margin: 15px 0;
		overflow: hidden;
		background: transparent;
		border: 0;
		border-bottom: 1px solid #ddd
	}

	hr:before {
		display: table;
		content: ""
	}

	hr:after {
		display: table;
		clear: both;
		content: ""
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		// margin-top: 15px;
		// margin-bottom: 15px;
		// line-height: 1.1
		display: inline-block;
	}

	select {
		margin: 16px 0 8px 0;
		float: right;
		background-color: $blue;
		color: white;
		padding: 5px;
		width: 250px;
		border: none;
		-webkit-appearance: button;
		appearance: button;
		outline: none;
	}

		strong {
			color: $red;
			font-weight: normal;
		}


	// h1 {
	// 	font-size: 30px;
	// 	font-size: 2em;
	// 	margin: 0.67em 0
	// }


	// h2 {
	// 	font-size: 21px
	// }

	// h3 {
	// 	font-size: 16px
	// }

	// h4 {
	// 	font-size: 14px
	// }

	// h5 {
	// 	font-size: 12px
	// }

	// h6 {
	// 	font-size: 11px
	// }

	section {
		margin-bottom: 40px;
	}

	ul,
	ol {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0
	}

	ol ol,
	ul ol {
		list-style-type: lower-roman
	}

	ul ul ol,
	ul ol ol,
	ol ul ol,
	ol ol ol {
		list-style-type: lower-alpha
	}

	dd {
		margin-left: 0
	}

	code {
		font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
		background-color: #f2f2f2;
		border: solid 1px #ddd;
		padding: 0 3px;		
	}

	pre {
		margin-top: 0;
		margin-bottom: 0;
		font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
		padding: 20px;
		background: #303030;
		color: #f2f2f2;
		text-shadow: none;
		overflow: auto;		
	}

	code,
	pre {
		font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
		color: #222;
		margin-bottom: 30px;
		font-size: 14px;
	}

	code {

	}

	pre {

	}

	pre code {
		color: $green;
		background-color: #303030;
		border: none;
		padding: 0;
	}

	form {
		background: #f2f2f2;
		padding: 20px;

	}


	// :before {
	// 	display: table;
	// 	content: ""
	// }

	// :after {
	// 	display: table;
	// 	clear: both;
	// 	content: ""
	// }

	a:not([href]) {
		color: inherit;
		text-decoration: none
	}

	.anchor {
		display: inline-block;
		padding-right: 2px;
		margin-left: -18px
	}

	.anchor:focus {
		outline: none
	}

	p,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre {
		margin-top: 0;
		margin-bottom: 16px
	}

	hr {
		height: 4px;
		padding: 0;
		margin: 16px 0;
		background-color: #e7e7e7;
		border: 0 none
	}

	ul,
	ol {
		padding-left: 2em
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0
	}

	li>p {
		margin-top: 16px
	}

	dl {
		padding: 0
	}

	dl dt {
		padding: 0;
		margin-top: 16px;
		font-size: 1em;
		font-style: italic;
		font-weight: bold
	}

	dl dd {
		padding: 0 16px;
		margin-bottom: 16px
	}

	blockquote {
		padding: 0 15px;
		color: $grey;
		border-left: 4px solid $blue;
		margin: 10px 0;
	}

	blockquote>:first-child {
		margin-top: 0
	}

	blockquote>:last-child {
		margin-bottom: 0
	}


	code {
		padding: 0;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
		margin: 0;
		font-size: 85%;
		background-color: rgba(0, 0, 0, 0.04);
		border-radius: 3px
	}

	code:before,
	code:after {
		letter-spacing: -0.2em;
		content: "\00a0"
	}

	pre>code {
		padding: 0;
		margin: 0;
		font-size: 100%;
		word-break: normal;
		white-space: pre;
		background: transparent;
		border: 0
	}

	.highlight {
		margin-bottom: 16px
	}

	.highlight pre,
	pre {
		padding: 16px;
		overflow: auto;
		font-size: 85%;
		line-height: 1.45;
		background-color: #212121;
		border-radius: 3px
	}

	.highlight pre {
		margin-bottom: 0;
		word-break: normal
	}

	pre {
		word-wrap: normal
	}

	pre code {
		display: inline;
		max-width: initial;
		padding: 0;
		margin: 0;
		overflow: initial;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0
	}

	pre code:before,
	pre code:after {
		content: normal
	}

	kbd {
		display: inline-block;
		padding: 3px 5px;
		font-size: 11px;
		line-height: 10px;
		color: #555;
		vertical-align: middle;
		background-color: #fcfcfc;
		border: solid 1px #ccc;
		border-bottom-color: #bbb;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 #bbb
	}

	.pl-c {
		color: #969896
	}

	.pl-c1,
	.pl-s .pl-v {
		color: #0086b3
	}

	.pl-e,
	.pl-en {
		color: #795da3
	}

	.pl-s .pl-s1,
	.pl-smi {
		color: #333
	}

	.pl-ent {
		color: #63a35c
	}

	.pl-k {
		color: #a71d5d
	}

	.pl-pds,
	.pl-s,
	.pl-s .pl-pse .pl-s1,
	.pl-sr,
	.pl-sr .pl-cce,
	.pl-sr .pl-sra,
	.pl-sr .pl-sre {
		color: #183691
	}

	.pl-v {
		color: #ed6a43
	}

	.pl-id {
		color: #b52a1d
	}

	.pl-ii {
		background-color: #b52a1d;
		color: #f8f8f8
	}

	.pl-sr .pl-cce {
		color: #63a35c;
		font-weight: bold
	}

	.pl-ml {
		color: #693a17
	}

	.pl-mh,
	.pl-mh .pl-en,
	.pl-ms {
		color: #1d3e81;
		font-weight: bold
	}

	.pl-mq {
		color: #008080
	}

	.pl-mi {
		color: #333;
		font-style: italic
	}

	.pl-mb {
		color: #333;
		font-weight: bold
	}

	.pl-md {
		background-color: #ffecec;
		color: #bd2c00
	}

	.pl-mi1 {
		background-color: #eaffea;
		color: #55a532
	}

	.pl-mdr {
		color: #795da3;
		font-weight: bold
	}

	.pl-mo {
		color: #1d3e81
	}

	kbd {
		display: inline-block;
		padding: 3px 5px;
		font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
		line-height: 10px;
		color: #555;
		vertical-align: middle;
		background-color: #fcfcfc;
		border: solid 1px #ccc;
		border-bottom-color: #bbb;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 #bbb
	}

	.task-list-item {
		list-style-type: none
	}

	.task-list-item+.task-list-item {
		margin-top: 3px
	}

	.task-list-item input {
		margin: 0 0.35em 0.25em -1.6em;
		vertical-align: middle
	}

	:checked+.radio-label {
		z-index: 1;
		position: relative;
		border-color: #4078c0
	}

	.highlight {
		background: #ffffff
	}

	.highlight .c {
		color: #999988;
		font-style: italic
	}

	.highlight .err {
		color: #a61717;
		background-color: #e3d2d2
	}

	.highlight .k {
		font-weight: bold
	}

	.highlight .o {
		font-weight: bold
	}

	.highlight .cm {
		color: #999988;
		font-style: italic
	}

	.highlight .cp {
		color: #999999;
		font-weight: bold
	}

	.highlight .c1 {
		color: #999988;
		font-style: italic
	}

	.highlight .cs {
		color: #999999;
		font-weight: bold;
		font-style: italic
	}

	.highlight .gd {
		color: #000000;
		background-color: #fdd
	}

	.highlight .gd .x {
		color: #000000;
		background-color: #faa
	}

	.highlight .ge {
		font-style: italic
	}

	.highlight .gr {
		color: #a00
	}

	.highlight .gh {
		color: #999
	}

	.highlight .gi {
		color: #000000;
		background-color: #dfd
	}

	.highlight .gi .x {
		color: #000000;
		background-color: #afa
	}

	.highlight .go {
		color: #888
	}

	.highlight .gp {
		color: #555
	}

	.highlight .gs {
		font-weight: bold
	}

	.highlight .gu {
		color: #aaa
	}

	.highlight .gt {
		color: #a00
	}

	.highlight .kc {
		font-weight: bold
	}

	.highlight .kd {
		font-weight: bold
	}

	.highlight .kp {
		font-weight: bold
	}

	.highlight .kr {
		font-weight: bold
	}

	.highlight .kt {
		color: #445588;
		font-weight: bold
	}

	.highlight .m {
		color: #099
	}

	.highlight .s {
		color: #d14
	}

	.highlight .na {
		color: teal
	}

	.highlight .nb {
		color: #0086B3
	}

	.highlight .nc {
		color: #445588;
		font-weight: bold
	}

	.highlight .no {
		color: teal
	}

	.highlight .ni {
		color: purple
	}

	.highlight .ne {
		color: #990000;
		font-weight: bold
	}

	.highlight .nf {
		color: #990000;
		font-weight: bold
	}

	.highlight .nn {
		color: #555
	}

	.highlight .nt {
		color: navy
	}

	.highlight .nv {
		color: teal
	}

	.highlight .ow {
		font-weight: bold
	}

	.highlight .w {
		color: #bbb
	}

	.highlight .mf {
		color: #099
	}

	.highlight .mh {
		color: #099
	}

	.highlight .mi {
		color: #099
	}

	.highlight .mo {
		color: #099
	}

	.highlight .sb {
		color: #d14
	}

	.highlight .sc {
		color: #d14
	}

	.highlight .sd {
		color: #d14
	}

	.highlight .s2 {
		color: #d14
	}

	.highlight .se {
		color: #d14
	}

	.highlight .sh {
		color: #d14
	}

	.highlight .si {
		color: #d14
	}

	.highlight .sx {
		color: #d14
	}

	.highlight .sr {
		color: #009926
	}

	.highlight .s1 {
		color: #d14
	}

	.highlight .ss {
		color: #990073
	}

	.highlight .bp {
		color: #999
	}

	.highlight .vc {
		color: teal
	}

	.highlight .vg {
		color: teal
	}

	.highlight .vi {
		color: teal
	}

	.highlight .il {
		color: #099
	}
}