$sidebar-width: 300px;
$desktop-width: 959px;

@import 'reset', 'colors', 'shades';
@import 'font', 'core', 'custom';
@import 'breadcrumbs';
@import 'content';
@import 'footer';
@import 'header';
@import 'icons';
@import 'list';
@import 'markdown';
@import 'navbar';
@import 'sidebar';
@import 'table';
@import 'toc';
@import 'visualization';
// @import 'media';

.background {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

#synthetic {
	left: -20px;
	position: absolute;
	top: -20px;
	z-index: -1;
	pointer-events: none;
	height: 120%;
	width: 120%;
	background-color: #000;
	/*background: linear-gradient(-45deg, #000 40%, #0074D7 50%, #000 60%);*/
	/*background-size: 600% 600%;*/
	/*animation: gradient 10s linear infinite;*/
}

/* WEBKIT SCROLLBARS */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: $ebony;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: $onyx;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: $grey;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: $onyx;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: $grey;
}

::-webkit-scrollbar-corner {
	background-color: $ebony;
}