$sidebar-width: 300px;
$desktop-width: 959px;

@import 'reset', 'colors', 'shades';
@import 'font', 'core', 'custom';
@import 'breadcrumbs';
@import 'content';
@import 'footer';
@import 'header';
@import 'icons';
@import 'list';
@import 'markdown';
@import 'navbar';
@import 'sidebar';
@import 'table';
@import 'toc';
@import 'visualization';
// @import 'media';

.background {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}

/*Hex Overlay*/
#synthetic {
	left: -20px;
	position: fixed;
	top: -20px;
	z-index: -1;
	pointer-events: none;
	min-height: 120vh;
	min-width: 120vw;
	background-color: #000;
	background: linear-gradient(-45deg, #000 45%, #001467 50%, #000 55%);
	background-size: 600% 600%;
	animation: gradient 16s linear infinite;
}

@keyframes gradient {
	0% {
		background-position:0% 51%
	}
	50% {
		background-position:100% 50%
	}
	100% {
		background-position:0% 51%
	}
}

/* WEBKIT SCROLLBARS */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: $ebony;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: $onyx;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: $grey;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: $onyx;
	// -webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: $grey;
}

::-webkit-scrollbar-corner {
	background-color: $ebony;
}