/* Related section */
#related {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	item {
		margin: 0;
		margin-bottom: $sectionMargin;
		padding: 10px;
		@include foreground();

		@media (min-width: 768px) {
			max-width: 33%;
		}



		.title {
			font-size: 18px;
			color: $primary;
		}

		p {
			color: $fontColorMinor;

			// @media (max-width: 768px) {
			// 	display: none;
			// }
		}

		.read-more {
			float: right;
		}
	}
}