/* Tag section */
.tag-cloud a {
	background: #fafafa;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	font-size: 14px;
	line-height: 37px;
	padding: 5px 10px;
	margin-right: 5px;
	color: #778492;
}

.tag-cloud a:hover {
	color: #49515a;
}
