@charset "UTF-8";

/*Custom Ubuntu & Ubuntu-Fira Webfont*/

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'),
		local('Ubuntu Regular'), local('Ubuntu-Regular'),
		url('/cdn/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
		url('/cdn/fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
		url('/cdn/fonts/ubuntu/Ubuntu-Bold-Compact.woff2') format('woff2'),
		url('/cdn/fonts/ubuntu/Ubuntu-Bold-Compact.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu-Fira';
	src: local('Ubuntu Fira'), local('Ubuntu-Fira'),
		url('/cdn/fonts/ubuntu/Ubuntu-Fira-Compact.woff2') format('woff2'),
		url('/cdn/fonts/ubuntu/Ubuntu-Fira-Compact.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}