
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-arrow-left:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-newspaper-1:before { content: '\e808'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-link-external:before { content: '\f14c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */