/*@font-face {*/
/*	font-family: 'CFA';*/
/*	src: local('CFA'),*/
/*		url('/cdn/fonts/icons/cfa.woff2') format('woff2'),*/
/*		url('/cdn/fonts/icons/cfa.woff') format('woff');*/
/*	font-weight: normal;*/
/*	font-style: normal;*/
/*	font-display: swap;*/
/*}*/

@font-face {
	font-family: 'CFA';
	src: local('CFA'),
		url('/cdn/fonts/icons/custom.woff2') format('woff2'),
		url('/cdn/fonts/icons/custom.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

icon {
	display: inline-block;
	
	font-family: "CFA";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;

	text-rendering: auto;
	line-height: 1;
	width: 1.2em;
	text-align: center;
	
	vertical-align: middle;
}

/*icon:before {*/

	/* For safety - reset parent styles, that can break glyph codes*/
	/*font-variant: normal;*/
	/*text-transform: none;*/

	/* you can be more comfortable with increased icons size */
	/*font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	/*-webkit-font-smoothing: antialiased;*/
	/*-moz-osx-font-smoothing: grayscale;*/

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

/*}*/

icon.home:before { content: '\f524'; }
icon.rss:before { content: '\f525'; } 
icon.twitter:before { content: '\f527'; } 
icon.github:before { content: '\f528'; }
icon.blog:before { content: '\f526'; }
icon.post:before { content: '\f0c1'; } 

icon.help:before { content: '\f058'; } 
icon.check:before { content: '\f057'; } 
icon.error:before { content: '\f068'; } 
icon.notice:before { content: '\f059'; }

icon.calendar:before { content: '\f071'; } 
icon.arrows-cw:before { content: '\f0a9'; }

icon[class^="arrow"]:before {
	content: '\f104';
	display: inline-block;
}

icon[class^="chevron"]:before {
	content: '\f105';
	display: inline-block;
}

icon[class^="bracket"]:before {
	content: '\f106';
	display: inline-block;
}

icon[class^="angle"]:before {
	content: '\f107';
	display: inline-block;
}

icon[class$="-down"]:before { transform: rotate(180deg); }
icon[class$="-left"]:before { transform: rotate(270deg); }
icon[class$="-right"]:before { transform: rotate(90deg); }


icon.link-internal:before { content: '\f0a8'; } 
icon.link-external:before { content: '\f0aa'; }

/*icon.home:before { content: '\e802'; }*/
/*icon.rss:before { content: '\f09e'; } */
/*icon.twitter:before { content: '\f099'; } */
/*icon.github:before { content: '\f09b'; }*/
/*icon.post:before { content: '\e808'; } */

/*icon.help:before { content: '\e803'; } */
/*icon.check:before { content: '\e804'; } */
/*icon.error:before { content: '\e805'; } */
/*icon.notice:before { content: '\e806'; }*/

/*icon.calendar:before { content: '\e809'; } */
/*icon.arrows-cw:before { content: '\e80a'; }*/

/*icon.arrow-right:before { content: '\e800'; }*/
/*icon.arrow-left:before { content: '\e801'; } */
/*icon.quote-left:before { content: '\f10d'; } */
/*icon.quote-right:before { content: '\f10e'; } */

/*icon.link-internal:before { content: '\e807'; } */
/*icon.link-external:before { content: '\f14c'; }*/

/*icon.paper-plane:before { content: '\f1d8'; } */
/*icon.newspaper:before { content: '\f1ea'; }*/
/*icon.copyright:before { content: '\f1f9'; }*/
/*icon.attention-alt:before { content: '\f12a'; }*/
