/* Layout */
body {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/* Sidebar */
sidebar .trigger {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	background: #192b3c;
}

sidebar .trigger>i {
	display: inline-block;
	margin: 1.5em 0 0 1.5em;
	color: #f07ab0;
}

sidebar {
	position: fixed;
	top: 0;
	left: -15em;
	overflow: hidden;
	transition: all .3s ease-in;
	width: 15em;
	height: 100%;
	background: #243e56;
	color: rgba(255, 255, 255, 0.7);
}

nav:hover,
nav:focus,
sidebar .trigger:focus+nav,
sidebar .trigger:hover+sidebar {
	left: 0;
}

sidebar ul {
	position: absolute;
	top: 4em;
	left: 0;
	margin: 0;
	padding: 0;
	width: 15em;
}

sidebar ul li {
	width: 100%;
}

nav-link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 4em;
}

nav-link em {
	position: absolute;
	top: 50%;
	left: 4em;
	transform: translateY(-50%);
}

nav-link:hover {
	background: #4d6276;
}

nav-link>i {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 4em;
	height: 4em;
}

nav-link>i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
	main {
		margin-left: 4em;
	}

	/* Sidebar */
	sidebar .trigger{
		width: 4em;
	}

	sidebar {
		width: 4em;
		left: 0;
	}

	nav:hover,
	nav:focus,
	sidebar .trigger:hover+nav,
	sidebar .trigger:focus+sidebar {
		width: 15em;
	}
}

@media (min-width: 68em) {
	main {
		margin-left: 15em;
	}

	/* Sidebar */
	sidebar .trigger {
		display: none
	}

	sidebar {
		width: 15em;
	}

	sidebar ul {
		top: 1.3em;
	}
}