.splitter {
	z-index: 9999;
// 	position: absolute;
	background-color: $mideground;
	flex: 0 0 10px;
	width: 100%;
	height: 100%;

	&.horizontal {
		cursor: col-resize;
	}

	&.vertical {
		cursor: row-resize;
	}
}

// .h-splitter {
// 	cursor: col-resize;
// }

// .v-splitter {
// 	cursor: row-resize;
// }