/* SCSS IMPORT FILES */
@import "modules/util/reset";
@import "modules/util/mixins", "modules/util/colours", "modules/util/shades", "modules/util/variables";
@import "modules/util/animations";

@import "modules/util/scrollbars";


@import "modules/common/checkbox", "modules/common/optionsmenu", "modules/common/text", "modules/common/button";
@import "modules/common/tables";
@import "modules/common/typography";

@import "modules/active/main";
@import "modules/codegit/main";
@import "modules/editor/main";
@import "modules/feedback/main";
@import "modules/filemanager/main";
@import "modules/sidebar/main";



// @import "modules/graphics/icons";

@import "modules/textmode", "modules/market";

@import "modules/graphics/icons", "modules/graphics/loader", "modules/graphics/logo";

@import "modules/misc/contextmenu", "modules/misc/scout", "modules/misc/uploader";

@import "modules/misc/login", "modules/misc/synthetic", "modules/misc/installer";

@import "modules/settings", "modules/user";
 
// @import "modules/util/cursor";

/* DOCUMENT */
body,
html {
	width: 100%;
	height: 100%;
	color: #fff;
	font: normal $font-size 'Ubuntu', sans-serif;
	overflow: hidden;
}

/* MAIN */
#workspace {
	background-color: $background;
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

/* Download iFrame */
#download {
	display: none;
}