/* SCSS IMPORT FILES */
@import "modules/util/reset";
@import "modules/util/mixins", "modules/util/colours", "modules/util/shades", "modules/util/variables";
@import "modules/util/animations";

@import "modules/misc/todo";

@import "modules/codegit";
@import "modules/codegit/main";


@import "modules/editor/active", "modules/editor/editor", "modules/editor/top-bar", "modules/editor/active-tabs", "modules/editor/bottom-bar";
@import "modules/feedback/alert", "modules/feedback/common", "modules/feedback/finder", "modules/feedback/modal", "modules/feedback/toast";
@import "modules/autocomplete";
@import "modules/graphics/icons";
@import "modules/textmode", "modules/market";
@import "modules/filemanager/filemanager", "modules/filemanager/context_menu", "modules/filemanager/scout", "modules/filemanager/uploader";
@import "modules/misc/title", "modules/misc/logo", "modules/misc/login", "modules/misc/synthetic", "modules/misc/installer";
@import "modules/input/checkbox", "modules/input/button";
@import "modules/misc/tables";

@import "modules/project", "modules/settings", "modules/user", "modules/sidebar";
 
/* WEBKIT SCROLLBARS */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #333;
	@include border-radius;

}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #666;
	@include border-radius;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #666;
	@include border-radius;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #999;
}

::-webkit-scrollbar-corner {
	background-color: #2D2D2D;
}

/* DOCUMENT */
body,
html {
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	color: #fff;
	font: normal $font-size 'Ubuntu', sans-serif;
	overflow: hidden;
}

div {
	scrollbar-base-color: #1a1a1a;
	scrollbar-3d-light-color: #1a1a1a;
	scrollbar-arrow-color: #303030;
	scrollbar-darkshadow-color: #303030;
	scrollbar-face-color: #1a1a1a;
	scrollbar-highlight-color: #303030;
	scrollbar-shadow-color: #303030;
	scrollbar-track-color: #303030;
}