/* SCSS IMPORT FILES */
@import "modules/util/reset";
@import "modules/util/mixins", "modules/util/colours", "modules/util/shades", "modules/util/variables";
@import "modules/util/animations";
@import "modules/toast", "modules/modal";
@import "modules/autocomplete";
@import "modules/editor/active", "modules/editor/editor", "modules/editor/top-bar", "modules/editor/active-tabs", "modules/editor/bottom-bar";
@import "modules/fileext_textmode", "modules/fonts", "modules/market";
@import "modules/file-manager/file-manager", "modules/file-manager/context_menu", "modules/file-manager/search";
@import "modules/misc/title", "modules/misc/logo", "modules/misc/login", "modules/misc/synthetic";
@import "modules/input/checkbox";
@import "modules/misc/tables";
@import "modules/project", "modules/settings", "modules/user", "modules/sidebar";

/* WEBKIT SCROLLBARS */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: #333;
	-webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #666;
	-webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #666;
	-webkit-border-radius: $border-radius;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #999;
}

::-webkit-scrollbar-corner {
	background-color: #2D2D2D;
}

/* DOCUMENT */
body,
html {
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	color: #fff;
	font: normal $font-size 'Ubuntu', sans-serif;
	// font: normal $font-size 'VictorMono', sans-serif;
	overflow: hidden;
}

div {
	scrollbar-base-color: #1a1a1a;
	scrollbar-3d-light-color: #1a1a1a;
	scrollbar-arrow-color: #303030;
	scrollbar-darkshadow-color: #303030;
	scrollbar-face-color: #1a1a1a;
	scrollbar-highlight-color: #303030;
	scrollbar-shadow-color: #303030;
	scrollbar-track-color: #303030;
}

/* GLOBALS */
a,
a:link,
a:visited {
	cursor: pointer;
}

a:active,
a:hover {}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.italic {
	font-style: italic;
}

.strong {
	font-weight: bold;
}

/* ICONS */
[class^="icon-"],
[class*=" icon-"] {
	// font-family: entypo;
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-size: 75%;
	display: inline-block;
	margin-right: 8px;
	text-align: center;
	vertical-align: top;
}


/* Useful size modifiers for icons. */
.bigger-icon {
	font-size: 95%;
	margin-right: 6px;
}

/* Fix bad margin at some sizes for icon-doc-text. */
.icon-doc-text {
	padding-right: 3px;
}

.icon-doc.text.bigger-icon {
	padding-right: 0;
}

.login-icon {
	padding-top: 3px;
}

.language-selector {
	position: relative;
	display: none;
}

.show-language-selector {
	display: block;
	float: right;
	color: #666;
	margin: 10px 0 0;
}

.show-language-selector:hover {
	color: #fff;
}

/* FORMS */
label {
	display: block;
	padding: 0 0 5px;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0 1px 1px #000;
}

label .icon {
	font-weight: normal;
	font-size: 180%;
	padding-right: 4px;
	display: none;
}

#dependencies,
button,
input,
select,
textarea {
	display: block;
	width: 100%;
	padding: 7px 10px;
	margin: 5px 0;
	background: #242424;
	border: none;
	border-bottom: 2px solid #595959;
	color: #fff;
	border-radius: $border-radius;
	line-height: normal;
}

#dependencies .error {
	color: red;
}

#dependencies .success {
	color: green;
}

select option {
	background: #242424;
}

textarea {
	min-height: 100px;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	background: #242424;
	border-bottom: 2px solid #ccc;
}

input[type="checkbox"] {
	width: 20px;
	position: relative;
	margin: 5px 0 0;
	padding: 0;
}

button {
	display: inline-block;
	width: auto;
	margin: 3px;
	margin-left: 0;
	min-width: 80px;
	// margin: 10px 0 5px 0;
	padding: 6px 15px 5px;
	color: #242424;
	font-size: 13px;
	font-weight: bold;
	// text-shadow: 0 1px 1px #fff;
	// background-color: #c9c9c9;
	background-color: #EEEEEE;
	// border-radius: $border-radius;
	// border: 1px solid #7d7d7d;
	border: none;
	border-bottom: 2px solid #7d7d7d;
}

button+button {
	margin-left: auto;
}

button:hover {
	color: #333;
	background-color: #f3f3f3;
	cursor: pointer;
	border-bottom: 2px solid #919191;
}

// button.btn-left {
//     // border-radius: 3px 0px 0px 3px;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-mid {
//     // border-radius: 0;
//     border-radius: $border-radius;
//     border-right: none;
// }
// button.btn-right {
//     // border-radius: 0px 3px 3px 0px;
//     border-radius: $border-radius;
// }

button .icon {
	padding: 0 5px 0 0;
}

pre {
	background: #404040;
	padding: 10px;
	margin: 10px 0 5px;
	border-radius: $border-radius;
	font-family: monospace;
	/*box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .5);*/
	overflow: auto;
}


/* INSTALLER */
#installer {
	position: absolute;
	width: 450px;
	top: 15%;
	left: 50%;
	margin-left: -175px;
	padding: 35px;
	overflow: auto;
}

#installer h1 {
	font-size: 24px;
	margin: 0 0 15px;
}

#installer hr {
	height: 0;
	border: none;
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

.install_issues {
	background: #404040;
	padding: 10px;
	margin: 10px 0 5px;
	border-radius: $border-radius;
	font-family: monospace;
	/*box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .5);*/
	overflow: auto;
}

.install_issues p {
	padding: 0;
	margin: 0;
}

/* MESSAGES */
#message {
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	padding: 8px 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	z-index: 99999999;
	line-height: 150%;
	// border-radius: 0px 0px 10px 10px;
	border-radius: $border-radius;
	text-shadow: 1px 1px 3px #000000;
	/*box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .9);*/
}

#message.error {
	background-color: #a10b0b;
	border: 2px solid #ff0000;
	border-top: none;
}

#message.success {
	background-color: #0f9c0f;
	border: 2px solid #00ff00;
	border-top: none;
}

/* MAIN */
#workspace {
	color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.options-menu {
	position: absolute;
	z-index: 9999;
	background-color: #2E2E2E;
	border: 3px solid #666666;
	display: none;
	border-radius: $border-radius;
}

.options-menu li {
	border-bottom: 1px solid black;
	padding: 0;
}

.options-menu li a {
	display: block;
	color: #7F7F7F;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
}

.options-menu li:hover {
	background-color: #7F7F7F;
}

.options-menu li:hover a {
	color: white;
}

.options-menu td {
	padding: 0;
	margin: 0;
}

.splitter {
	background-color: black;
	z-index: 9999;
}

.h-splitter {
	background-image: linear-gradient(left, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -o-linear-gradient(left, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -moz-linear-gradient(left, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -webkit-linear-gradient(left, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -ms-linear-gradient(left, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.29, rgb(120, 120, 120)), color-stop(0.77, rgb(77, 77, 77)));
	cursor: col-resize;
}

.v-splitter {
	background-image: linear-gradient(top, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -o-linear-gradient(top, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -moz-linear-gradient(top, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -webkit-linear-gradient(top, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -ms-linear-gradient(top, rgb(120, 120, 120) 29%, rgb(77, 77, 77) 77%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.29, rgb(120, 120, 120)), color-stop(0.77, rgb(77, 77, 77)));
	cursor: row-resize;
}

#cursor-position {
	position: absolute;
	right: 30px;
	bottom: 4px;
	font-size: 12px;
	z-index: 99;
	color: #999;
}

#current-mode,
#settings,
#split {
	/* Disable text selection on buttons clicks */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#current-file,
#current-mode {
	float: left;
}

#current-mode:hover {
	color: #fff;
}

.divider {
	display: block;
	float: left;
	height: 14px;
	width: 1px;
	background: #333;
	margin: 0 15px;
	/*box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);*/
}

.ico-wrapper {
	display: block;
	position: relative;
	float: left;
	font-size: 13px;
	line-height: 100%;
}

.ico-wrapper:hover {
	color: #fff;
}

.settings td {
	border: none;
	border-bottom: 1px solid #666;
	padding: 10px 0;
}

.settings td:first-child {
	padding-right: 20px;
	font-weight: bold;
}

.settings select {
	margin: 0;
}

.settings tr:last-child td {
	border: none;
}



#finder-label {
	cursor: pointer;
}

#finder-wrapper {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 20px;
	display: none;
}

#finder-inner-wrapper {
	left: 0;
	right: 30px;
	top: 5px;
	bottom: 3px;
	position: absolute;
}

#finder {
	border: none;
	background: transparent;
	height: 24px;
	font-size: 11px;
	position: relative;
	margin-top: 3px;
	margin-left: 5px;
	padding: 0;
}

#finder-options-menu {
	top: 35px;
	right: 40px;
}

#finder-options-menu li.chosen {
	font-weight: 700;
	background: #3A3A3A;
}

#finder-options-menu li.chosen a {
	color: white;
}


/* Download iFrame */
#download {
	display: none;
}