@charset "UTF-8";

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('/cdn/fonts/raleway/Raleway-Bold.woff2') format('woff2'),
		url('/cdn/fonts/raleway/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Regular'), local('Raleway-Regular'),
		url('/cdn/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
		url('/cdn/fonts/raleway/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Raleway';
	src: local('Raleway Italic'), local('Raleway-Italic'),
		url('/cdn/fonts/raleway/Raleway-Italic.woff2') format('woff2'),
		url('/cdn/fonts/raleway/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;

}