@charset "UTF-8";

:root {
	--fg: #212121;
	--mg: #252525;
	--bg: #151515;
	--fcMjr: #F5F9F9;
	--fcMnr: #A5A9AA;
	--fcSml: #757577;
	--bdr: 1px solid #353533;
	--cMjr: #0074D9;
	--cMnr: #7FDBFF;
	--cSml: #001F3F;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu'), local('Ubuntu Regular'),
		local('Ubuntu-Regular'),
		url('/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
		url('/fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: local('Ubuntu Bold'),
		local('Ubuntu-Bold'),
		url('/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
		url('/fonts/ubuntu/Ubuntu-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	max-width: 960px;
	margin: auto;
	background: var(--bg);
	display: flex;
	height: 100%;
	font: 16px/1.2 'Ubuntu', monospace;

	color: var(--fcMjr);
	padding: 2px;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
	body {
		padding: 15px;
	}
}

