@import 'scss/utility/colors';
@import 'scss/utility/mixins';
@import 'scss/utility/variables';
@import 'scss/utility/animation';


html {
	font-size: 16px;

	// @media (min-width: 768px) {
	// 	font-size: 18px;
	// }
}

body {
	background-color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: $fontColorMajor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding: 2px;

	@media (min-width: 768px) {
		padding: $sectionMargin;
	}
}

main {
	max-width: 960px;
	margin: 0 auto;
}

header,
footer {
	margin: $sectionMargin auto;

	@media (min-width: 768px) {}
}


@import 'scss/blocks/blocks';
@import 'scss/blocks/footer';
@import 'scss/blocks/header';
@import 'scss/blocks/navbar';

@import 'scss/common/icons';
// @import 'scss/common/initial';
@import 'scss/common/input';
@import 'scss/common/lists';
@import 'scss/common/tables';
@import 'scss/common/typography';

@import 'scss/custom/card';
@import 'scss/custom/brand';
@import 'scss/custom/grid';
@import 'scss/custom/hexcon';
@import 'scss/custom/info';
@import 'scss/custom/hidden';
@import 'scss/custom/logo';
@import 'scss/custom/lumin';
@import 'scss/custom/pagination';
// @import 'scss/custom/prism';
@import 'scss/custom/scrollbars';
@import 'scss/custom/shadow';
@import 'scss/custom/synthetic';
@import 'scss/custom/toast';


@import 'scss/aside/activity';
@import 'scss/aside/archive';
@import 'scss/aside/recent';
@import 'scss/aside/related';
@import 'scss/aside/tagcloud';

@import 'scss/utility/reset';

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */