@import 'scss/utility/variables';
@import 'scss/utility/animation';

@import 'scss/common/icons';
@import 'scss/common/input';
@import 'scss/common/lists';
@import 'scss/common/typography';

@import 'scss/custom/features';
@import 'scss/custom/logo';
@import 'scss/custom/scrollbars';
@import 'scss/custom/synthetic';
// @import 'scss/custom/visualization';

main {
	padding: 0.5rem 0.5rem;
	border: $border;
	backdrop-filter: blur(2px);
	background-color: #{$foreground}CC;



	/* Desktop View */
	@media (min-width: $desktop) {

		padding: 0.5rem 1rem;

	}

}

section:not(:last-child) {
	border-bottom: 1px solid var(--cMjr);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

@import 'scss/utility/reset';