/* Fix for the file manager bottom most file being hidden underneath the project list. */
#codegit_repo_banner[style*='display: block']+#file-manager {
	height: calc(100% - 22px);
}

#file-manager .repo-icon {
	font-size: 10px;
	line-height: 20px;
	position: absolute;
	left: 0;
	color: $background;
}

#project-root .repo-icon {
	font-size: 12px;
	line-height: 24px;
	position: absolute;
	left: 2px;
	color: $background;
}

[id^="codegit_"],
#codegit {
	&.content {
		width: 800px;
	}
}

#dialog>.content {
	min-width: 600px;
	overflow: hidden;
	overflow-y: scroll;
	height: 400px;
	padding: 5px;
}

#dialog #codegit form {
	background-color: $background;

}

#codegit {
	display: flex;
	border-top: $borderLight;
}




@import "status", "blame", "diff", "overview", "log", "todo", "transfer";