<!DOCTYPE html>
<html lang="en">

{% include 'parts/copyright.twig' %}

<head>
	{% include 'parts/meta.twig' %}
</head>
<body id="aeon">
	<canvas id="synthetic"></canvas>

	{% include 'parts/sidebar.twig' %}


	<!-- Main -->
	<main class="aeon">
		<section>
			<h2>Atheos Plugins</h2>
			<p>
				Below are plugins tested and approved by the <strong>Atheos</strong> team. To install simply download and place the plugin's folder in (or git-clone into) the /plugins directory in Codiad. Then in the right-hand bar
				use the Plugins tool to enable the plugin. You can also easily <a href="https://github.com/Atheos/Plugin-Template" target="_blank">write your own</a>.
			</p>
		</section>
		<section>
			<table class="datatable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Author</th>
						<th colspan="2">Download</th>
					</tr>
				</thead>
				<tbody>
					{{ market_table | raw }}
				</tbody>
			</table>
		</section>

		<section>

			<em>Please note: While we test plugins before adding them to this list we cannot guarantee quality or provide any warranty. If you have any issues please address them directly with the plugin author.</em>

			<h3>Submit a Plugin / Theme</h3>
			<p>
				If you would like to submit a plugin or theme, please open an issue on <a href="https://github.com/Atheos/Atheos/issues/">Github</a>.
				Not sure how to get started? Check out the <a href="https://github.com/Atheos/Plugin-Template" target="_blank">Atheos Plugin Template</a>.
			</p>
		</section>
	</main>

	<!-- Footer -->
	<footer>
		<p>
			Atheos is maintained by <a href="https://github.com/HLSiira">Liam Siira</a><br>
		</p>
	</footer>

	<!-- Shadow -->
	<shadow class="fade6"></shadow>

</body>
</html>