/*
 | File Icons
 | @link https://github.com/file-icons
 | @author Daniel Brooker https://github.com/DanBrooker
 */

/* ----------------------------[ Colors ]---------------------------------- */

/*============================================================================*
	PALETTE
	Base16 colours from https://github.com/chriskempson/base16
/*============================================================================*/
.light-red:before {
  color: #c97071;
}
.medium-red:before {
  color: #ac4142;
}
.dark-red:before {
  color: #742c2d;
}
.light-green:before {
  color: #a6ba7b;
}
.medium-green:before {
  color: #90a959;
}
.dark-green:before {
  color: #66783e;
}
.light-yellow:before {
  color: #fae0bc;
}
.medium-yellow:before {
  color: #ee9e2e;
}
.dark-yellow:before {
  color: #d88511;
}
.light-blue:before {
  color: #6098b0;
}
.medium-blue:before {
  color: #6a9fb5;
}
.dark-blue:before {
  color: #46788d;
}
.light-maroon:before {
  color: #be7953;
}
.medium-maroon:before {
  color: #8f5536;
}
.dark-maroon:before {
  color: #573421;
}
.light-purple:before {
  color: #c7a4c0;
}
.medium-purple:before {
  color: #aa759f;
}
.dark-purple:before {
  color: #825078;
}
.light-orange:before {
  color: #d99762;
}
.medium-orange:before {
  color: #d28445;
}
.dark-orange:before {
  color: #a35f27;
}
.light-cyan:before {
  color: #6bb0a4;
}
.medium-cyan:before {
  color: #75b5aa;
}
.dark-cyan:before {
  color: #4d9085;
}
.light-pink:before {
  color: #ff4ddb;
}
.medium-pink:before {
  color: #ff00cc;
}
.dark-pink:before {
  color: #b3008f;
}
.theme-colour-check {
  background: #ffffff;
}

/* ----------------------------[ Fonts ]---------------------------------- */

@font-face {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	src: url(af7ae505a9eed503f8b8e6982036873e.woff2);
}

@font-face {
	font-family: Mfizz;
	src: url(0a32a80243e05284a5d741c5dc093f31.woff2);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Devicons;
	src: url(e19892df121e7f85c61754c54bbb7951.woff2);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: file-icons;
	src: url(11d1a2390613abf202bfd2ebbd5c4500.woff2);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: octicons;
	src: url(de59a97248b44599e6747a27a943f738.woff2);
	font-weight: normal;
	font-style: normal;
}

/* ----------------------------[ Icons ]---------------------------------- */

.icon:before{
	font-weight: normal;
	font-style: normal;
	text-align: center;
	width: 16px;
	line-height: 1;
	position: relative;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}

/*============================================================================*
  Octicons
  https://github.com/github/octicons
/*============================================================================*/

.binary-icon:before       { font-family: octicons; font-size: 16px; top: 1px; content: "\F094"; }
.book-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F007"; }
.brew-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F069"; font-size: 15px; left: 1px; }
.checklist-icon:before    { font-family: octicons; font-size: 16px; top: 1px; content: "\F076"; font-size: 17px; left: 1px; }
.code-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F05F"; }
.database-icon:before     { font-family: octicons; font-size: 16px; top: 1px; content: "\F096"; }
.gear-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F02F"; }
.git-commit-icon:before   { font-family: octicons; font-size: 16px; top: 1px; content: "\F01F"; }
.git-merge-icon:before    { font-family: octicons; font-size: 16px; top: 1px; content: "\F023"; }
.github-icon:before       { font-family: octicons; font-size: 16px; top: 1px; content: "\F00A"; }
.graph-icon:before        { font-family: octicons; font-size: 16px; top: 1px; content: "\F043"; }
.image-icon:before        { font-family: octicons; font-size: 16px; top: 1px; content: "\F012"; }
.key-icon:before          { font-family: octicons; font-size: 16px; top: 1px; content: "\F049"; }
.link-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F0B0"; }
.markdown-icon:before     { font-family: octicons; font-size: 16px; top: 1px; content: "\F0C9"; }
.package-icon:before      { font-family: octicons; font-size: 16px; top: 1px; content: "\F0C4"; }
.ruby-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F047"; }
.secret-icon:before       { font-family: octicons; font-size: 16px; top: 1px; content: "\F08C"; }
.squirrel-icon:before     { font-family: octicons; font-size: 16px; top: 1px; content: "\F0B2"; font-size: 15px; }
.text-icon:before         { font-family: octicons; font-size: 16px; top: 1px; content: "\F011"; }
.zip-icon:before          { font-family: octicons; font-size: 16px; top: 1px; content: "\F013"; }




/*============================================================================*
  FontAwesome
  http://fortawesome.github.io/Font-Awesome/cheatsheet
/*============================================================================*/

.android-icon:before      { font-family: FontAwesome; font-size: 13px; content: "\F17B"; font-size: 16px; top: 1px; }
.at-icon:before           { font-family: FontAwesome; font-size: 13px; content: "\F1FA"; font-size: 15px; top: 1px; }
.audio-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F028"; font-size: 15px; top: 1px; }
.bullhorn-icon:before     { font-family: FontAwesome; font-size: 13px; content: "\F0A1"; font-size: 16px; top: 2px; }
.calc-icon:before         { font-family: FontAwesome; font-size: 13px; content: "\F1EC"; font-size: 14px; }
.coffee-icon:before       { font-family: FontAwesome; font-size: 13px; content: "\F0F4"; font-size: 14px; top: 1px; }
.css3-icon:before         { font-family: FontAwesome; font-size: 13px; content: "\F13C"; top: 0; }
.circle-icon:before       { font-family: FontAwesome; font-size: 13px; content: "\F111"; font-size: 16px; top: 1px; }
.earth-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F0AC"; font-size: 15px; }
.gears-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F085"; font-size: 15px; }
.html5-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F13B"; font-size: 15px; top: 1px; }
.mobile-icon:before       { font-family: FontAwesome; font-size: 13px; content: "\F10B"; font-size: 20px; top: 2px; }
.moon-icon:before         { font-family: FontAwesome; font-size: 13px; content: "\F186"; font-size: 16px; top: 1px; }
.music-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F001"; font-size: 15px; }
.print-icon:before        { font-family: FontAwesome; font-size: 13px; content: "\F02F"; font-size: 15px; top: 2px; }
.recycle-icon:before      { font-family: FontAwesome; font-size: 13px; content: "\F1B8"; font-size: 15px; top: 2px; }
.rss-icon:before          { font-family: FontAwesome; font-size: 13px; content: "\F143"; font-size: 16px; top: 2px; }
.smarty-icon:before       { font-family: FontAwesome; font-size: 13px; content: "\F0EB"; font-size: 15px; }
.sourcemap-icon:before    { font-family: FontAwesome; font-size: 13px; content: "\F279"; font-size: 14px; }
.sun-icon:before          { font-family: FontAwesome; font-size: 13px; content: "\F185"; font-size: 14px; -webkit-font-smoothing: subpixel-antialiased; }
.toc-icon:before          { font-family: FontAwesome; font-size: 13px; content: "\F03A"; font-size: 15px; top: 2px; }
.twig-icon:before         { font-family: FontAwesome; font-size: 13px; content: "\F1BB"; font-size: 14px; }
.pdf-icon:before         { font-family: FontAwesome; font-size: 13px; content: "\F1C1"; font-size: 14px; }



/*============================================================================*
  Mfizz
  http://mfizz.com/oss/font-mfizz
/*============================================================================*/

.apache-icon:before       { font-family: Mfizz; font-size: 14px; content: "\F102"; top: 3px; font-size: 15px; }
.archlinux-icon:before    { font-family: Mfizz; font-size: 14px; content: "A";     top: 1px; font-size: 15px; }
.c-icon:before            { font-family: Mfizz; font-size: 14px; content: "\F106"; top: 1px; font-size: 13px; }
.cpp-icon:before          { font-family: Mfizz; font-size: 14px; content: "\F10B"; top: 1px; }
.csharp-icon:before       { font-family: Mfizz; font-size: 14px; content: "\F10C"; top: 1px; }
.debian-icon:before       { font-family: Mfizz; font-size: 14px; content: "\F111"; top: 1px; }
.elixir-icon:before       { font-family: Mfizz; font-size: 14px; content: "\F113"; top: 1px; }
.gnome-icon:before        { font-family: Mfizz; font-size: 14px; content: "\F119"; top: 1px; }
.haskell-icon:before      { font-family: Mfizz; font-size: 14px; content: "\F121"; top: 2px; font-size: 16px; }
.java-icon:before         { font-family: Mfizz; font-size: 14px; content: "\F126"; top: 2px; font-size: 16px; }
.js-icon:before           { font-family: Mfizz; font-size: 14px; content: "\F129"; top: 1px; font-size: 14px; }
.msql-icon:before         { font-family: Mfizz; font-size: 14px; content: "\F136"; top: 2px; font-size: 15px; text-shadow: 0 0 0; }
.objc-icon:before         { font-family: Mfizz; font-size: 14px; content: "\F13E"; top: 2px; font-size: 16px; }
.osx-icon:before          { font-family: Mfizz; font-size: 14px; content: "\F141"; top: 1px; }
.perl-icon:before         { font-family: Mfizz; font-size: 14px; content: "\F142"; top: 1px; }
.python-icon:before       { font-family: Mfizz; font-size: 14px; content: "\F14C"; top: 1px; }
.red-hat-icon:before      { font-family: Mfizz; font-size: 14px; content: "\F14E"; top: 2px; }
.scala-icon:before        { font-family: Mfizz; font-size: 14px; content: "\F154"; top: 1px; }
.sql-icon:before          { font-family: Mfizz; font-size: 14px; content: "\F10E"; top: 1px; }
.svg-icon:before          { font-family: Mfizz; font-size: 14px; content: "\F15C"; top: 1px; }
.tt-icon:before           { font-family: Mfizz; font-size: 14px; content: "TT";    }
.x11-icon:before          { font-family: Mfizz; font-size: 14px; content: "\F16E"; top: 1px; font-size: 13px; }



/*============================================================================*
  Devicons
  http://vorillaz.github.io/devicons
/*============================================================================*/

.angular-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E653"; }
.appcelerator-icon:before { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6AB"; }
.appstore-icon:before     { font-family: Devicons; font-size: 16px; top: 3px; content: "\E613"; }
.asp-icon:before          { font-family: Devicons; font-size: 16px; top: 3px; content: "\E67F"; }
.atom-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E664"; -webkit-font-smoothing: subpixel-antialiased; }
.backbone-icon:before     { font-family: Devicons; font-size: 16px; top: 3px; content: "\E652"; }
.bootstrap-icon:before    { font-family: Devicons; font-size: 16px; top: 3px; content: "\E647"; font-size: 15px; top: 2px; }
.bower-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E64D"; text-shadow: 0 0 0; }
.chrome-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E643"; }
.clojure-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E668"; -webkit-font-smoothing: subpixel-antialiased; }
.compass-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E661"; font-size: 14px; top: 2px; }
.dart-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E698"; font-size: 15px; top: 2px; }
.dlang-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6AF"; }
.dojo-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E61C"; font-size: 16px; top: 4px; transform: scale(1.2); -webkit-font-smoothing: subpixel-antialiased; }
.dropbox-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E607"; }
.eclipse-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E69E"; }
.erlang-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6B1"; }
.extjs-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E68E"; }
.fsharp-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6A7"; left: 1px; top: 2px; }
.git-icon:before          { font-family: Devicons; font-size: 16px; top: 3px; content: "\E602"; font-size: 15px; top: 2px; }
.heroku-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E67B"; }
.jquery-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E650"; font-size: 15px; top: 2px; }
.jqueryui-icon:before     { font-family: Devicons; font-size: 16px; top: 3px; content: "\E654"; font-size: 15px; top: 2px; }
.laravel-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E63F"; -webkit-font-smoothing: subpixel-antialiased; }
.materialize-icon:before  { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6B6"; transform: scale(1.2); -webkit-font-smoothing: subpixel-antialiased; }
.modernizr-icon:before    { font-family: Devicons; font-size: 16px; top: 3px; content: "\E620"; }
.mootools-icon:before     { font-family: Devicons; font-size: 16px; top: 3px; content: "\E68F"; text-shadow: 0 0 0; }
.node-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E618"; }
.pod-icon:before          { font-family: Devicons; font-size: 16px; top: 3px; content: "\E669"; font-size: 15px; top: 2px; }
.prolog-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6A1"; }
.rails-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E63B"; }
.raphael-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E65F"; font-size: 15px; }
.requirejs-icon:before    { font-family: Devicons; font-size: 16px; top: 3px; content: "\E670"; }
.rust-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6A8"; }
.sass-icon:before         { font-family: Devicons; font-size: 16px; top: 3px; content: "\E64B"; }
.sencha-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E68C"; }
.snapsvg-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E65E"; }
.swift-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E655"; left: -1px; }
.travis-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E67E"; font-size: 15px; top: 2px; }
.uikit-icon:before        { font-family: Devicons; font-size: 16px; top: 3px; content: "\E673"; font-size: 15px; top: 2px; }
.unity3d-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E621"; }
.vim-icon:before          { font-family: Devicons; font-size: 16px; top: 3px; content: "\E6C5"; }
.vs-icon:before           { font-family: Devicons; font-size: 16px; top: 3px; content: "\E60C"; font-size: 14px; top: 2px; }
.windows-icon:before      { font-family: Devicons; font-size: 16px; top: 3px; content: "\E60F"; font-size: 14px; top: 2px; }
.yeoman-icon:before       { font-family: Devicons; font-size: 16px; top: 3px; content: "\E67A"; }




/*============================================================================*
  Custom file icons
  See https://github.com/file-icons/source/#adding-new-icons
/*============================================================================*/

._1c-icon:before           { font-family: file-icons; font-size: 15px; content: "\A5EA"; top: 3px; font-size: 16px; }
._1c-alt-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA28"; top: 3px; font-size: 16px; }
.abap-icon:before          { font-family: file-icons; font-size: 15px; content: "\E92B"; top: 2px; }
.access-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9EA"; top: 2px; }
.ada-icon:before           { font-family: file-icons; font-size: 15px; content: "\E90B"; top: 3px; font-size: 17px; }
.ae-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9F3"; top: 2px; }
.ahk-icon:before           { font-family: file-icons; font-size: 15px; content: "\E932"; top: 2px; }
.ai-icon:before            { font-family: file-icons; font-size: 15px; content: "\E6B4"; top: 2px; }
.alloy-icon:before         { font-family: file-icons; font-size: 15px; content: "\E935"; top: 2px; }
.alpine-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9FF"; top: 2px; font-size: 16px; }
.ampl-icon:before          { font-family: file-icons; font-size: 15px; content: "\E94E"; top: 3px; font-size: 16px; left: 1px; }
.amx-icon:before           { font-family: file-icons; font-size: 15px; content: "\E99B"; top: 3px; font-size: 16px; }
.ant-icon:before           { font-family: file-icons; font-size: 15px; content: "\E93E"; top: 4px; font-size: 18px; transform: scale(1.1); }
.antlr-icon:before         { font-family: file-icons; font-size: 15px; content: "\E92C"; top: 3px; }
.api-icon:before           { font-family: file-icons; font-size: 15px; content: "\E92D"; top: 2px; }
.apl-icon:before           { font-family: file-icons; font-size: 15px; content: "\234B"; top: 2px; }
.apple-icon:before         { font-family: file-icons; font-size: 15px; content: "\E925"; top: 1px; }
.appveyor-icon:before      { font-family: file-icons; font-size: 15px; content: "\E923"; top: 2px; }
.arc-icon:before           { font-family: file-icons; font-size: 15px; content: "\E92F"; top: 2px; }
.arduino-icon:before       { font-family: file-icons; font-size: 15px; content: "\E930"; top: 3px; font-size: 16px; }
.arttext-icon:before       { font-family: file-icons; font-size: 15px; content: "\24D0"; top: 2px; }
.as-icon:before            { font-family: file-icons; font-size: 15px; content: "\E92E"; top: 1px; font-size: 14px; }
.asciidoc-icon:before      { font-family: file-icons; font-size: 15px; content: "\E918"; top: 1px; font-size: 14px; }
.ats-icon:before           { font-family: file-icons; font-size: 15px; content: "\E934"; top: 2px; }
.audacity-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9F9"; top: 2px; }
.augeas-icon:before        { font-family: file-icons; font-size: 15px; content: "\E931"; top: 2px; }
.autoit-icon:before        { font-family: file-icons; font-size: 15px; content: "\E933"; top: 2px; font-size: 16px; }
.babel-icon:before         { font-family: file-icons; font-size: 15px; content: "\E91F"; top: 2px; left: 1px; }
.bibtex-icon:before        { font-family: file-icons; font-size: 15px; content: "\E601"; top: 2px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; }
.blender-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9FA"; top: 2px; }
.bluespec-icon:before      { font-family: file-icons; font-size: 15px; content: "\E93C"; top: 1px; font-size: 13px; left: 1px; }
.boo-icon:before           { font-family: file-icons; font-size: 15px; content: "\E939"; top: 2px; }
.boot-icon:before          { font-family: file-icons; font-size: 15px; content: "\F103"; top: 2px; font-size: 16px; }
.brain-icon:before         { font-family: file-icons; font-size: 15px; content: "\E93A"; top: 2px; }
.brakeman-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9D6"; top: 2px; }
.bro-icon:before           { font-family: file-icons; font-size: 15px; content: "\E93B"; top: 3px; font-size: 16px; }
.broccoli-icon:before      { font-family: file-icons; font-size: 15px; content: "\E922"; top: 1px; font-size: 14px; }
.byond-icon:before         { font-family: file-icons; font-size: 15px; content: "\E962"; top: 2px; }
.cabal-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9C2"; top: 2px; }
.cake-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9E3"; top: 2px; }
.cakefile-icon:before      { font-family: file-icons; font-size: 15px; content: "\E924"; top: 2px; }
.cakephp-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9D3"; top: 1px; font-size: 14px; }
.cc-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9D5"; top: 2px; font-size: 16px; }
.ceylon-icon:before        { font-family: file-icons; font-size: 15px; content: "\E94F"; top: 2px; }
.cf-icon:before            { font-family: file-icons; font-size: 15px; content: "\E929"; top: 2px; }
.chai-icon:before          { font-family: file-icons; font-size: 15px; content: "c";     top: 3px; font-size: 16px; }
.chapel-icon:before        { font-family: file-icons; font-size: 15px; content: "\E950"; top: 2px; }
.chartjs-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA0B"; top: 2px; }
.chuck-icon:before         { font-family: file-icons; font-size: 15px; content: "\E943"; top: 2px; }
.circleci-icon:before      { font-family: file-icons; font-size: 15px; content: "\EA12"; top: 2px; font-size: 14px; }
.cirru-icon:before         { font-family: file-icons; font-size: 15px; content: "\E951"; top: 2px; text-shadow: 0 0 0; }
.cl-icon:before            { font-family: file-icons; font-size: 15px; content: "\E972"; top: 2px; text-shadow: 0 0 0; }
.clarion-icon:before       { font-family: file-icons; font-size: 15px; content: "\E952"; top: 1px; font-size: 14px; left: 1px; }
.clean-icon:before         { font-family: file-icons; font-size: 15px; content: "\E95B"; top: 2px; font-size: 16px; }
.click-icon:before         { font-family: file-icons; font-size: 15px; content: "\E95C"; top: 2px; }
.clips-icon:before         { font-family: file-icons; font-size: 15px; content: "\E940"; top: 3px; font-size: 18px; }
.cljs-icon:before          { font-family: file-icons; font-size: 15px; content: "\F104"; top: 2px; }
.cmake-icon:before         { font-family: file-icons; font-size: 15px; content: "\E93F"; top: 1px; font-size: 14px; }
.codecov-icon:before       { font-family: file-icons; font-size: 15px; content: "\2602"; top: 2px; }
.composer-icon:before      { font-family: file-icons; font-size: 15px; content: "\E683"; top: 3px; font-size: 17px; }
.config-icon:before        { font-family: file-icons; font-size: 15px; content: "\F07C"; top: 2px; font-size: 14px; }
.cordova-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA11"; top: 2px; }
.coq-icon:before           { font-family: file-icons; font-size: 15px; content: "\E95F"; top: 2px; font-size: 16px; left: 1px; }
.cp-icon:before            { font-family: file-icons; font-size: 15px; content: "\E942"; top: 3px; font-size: 17px; }
.creole-icon:before        { font-family: file-icons; font-size: 15px; content: "\E95E"; top: 2px; }
.crystal-icon:before       { font-family: file-icons; font-size: 15px; content: "\E902"; top: 2px; left: 1px; }
.csound-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9F0"; top: 2px; }
.csscript-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9E2"; top: 2px; }
.cucumber-icon:before      { font-family: file-icons; font-size: 15px; content: "\F02B"; top: 3px; }
.cython-icon:before        { font-family: file-icons; font-size: 15px; content: "\E963"; top: 2px; }
.d3-icon:before            { font-family: file-icons; font-size: 15px; content: "\EA10"; top: 2px; }
.darcs-icon:before         { font-family: file-icons; font-size: 15px; content: "\E964"; top: 2px; }
.dashboard-icon:before     { font-family: file-icons; font-size: 15px; content: "\F07D"; top: 2px; font-size: 13px; }
.dbase-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9F1"; top: 2px; }
.default-icon:before       { font-family: file-icons; font-size: 15px; content: "\1F5CC";top: 2px; font-size: 14px; }
.diff-icon:before          { font-family: file-icons; font-size: 15px; content: "\E960"; top: 2px; }
.docker-icon:before        { font-family: file-icons; font-size: 15px; content: "\F106"; top: 3px; font-size: 18px; }
.doxygen-icon:before       { font-family: file-icons; font-size: 15px; content: "\E928"; top: 1px; font-size: 13px; }
.doge-icon:before          { font-family: file-icons; font-size: 15px; content: "\E946"; top: 2px; }
.dyalog-icon:before        { font-family: file-icons; font-size: 15px; content: "\E90C"; top: 1px; font-size: 14px; left: 1px; }
.dylib-icon:before         { font-family: file-icons; font-size: 15px; content: "\EA15"; top: 2px; }
.e-icon:before             { font-family: file-icons; font-size: 15px; content: "E";     top: 1px; font-size: 14px; }
.eagle-icon:before         { font-family: file-icons; font-size: 15px; content: "\E965"; top: 2px; }
.ec-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9C9"; top: 2px; }
.ecere-icon:before         { font-family: file-icons; font-size: 15px; content: "\E966"; top: 3px; font-size: 16px; }
.editorconfig-icon:before  { font-family: file-icons; font-size: 15px; content: "\EA1B"; top: 3px; }
.eiffel-icon:before        { font-family: file-icons; font-size: 15px; content: "\E967"; top: 2px; font-size: 16px; }
.electron-icon:before      { font-family: file-icons; font-size: 15px; content: "\EA27"; top: 3px; font-size: 16px; text-shadow: 0 0 0; }
.elm-icon:before           { font-family: file-icons; font-size: 15px; content: "\F102"; top: 2px; }
.em-icon:before            { font-family: file-icons; font-size: 15px; content: "\E968"; top: 3px; font-size: 16px; }
.ember-icon:before         { font-family: file-icons; font-size: 15px; content: "\E61B"; top: 2px; font-size: 14px; }
.emacs-icon:before         { font-family: file-icons; font-size: 15px; content: "\E926"; top: 2px; }
.eq-icon:before            { font-family: file-icons; font-size: 15px; content: "\EA0A"; top: 5px; }
.eslint-icon:before        { font-family: file-icons; font-size: 15px; content: "\EA0F"; top: 3px; font-size: 16px; }
.excel-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9EE"; top: 2px; }
.fabfile-icon:before       { font-family: file-icons; font-size: 15px; content: "\E94B"; top: 2px; font-size: 16px; }
.factor-icon:before        { font-family: file-icons; font-size: 15px; content: "\E96A"; top: 3px; font-size: 18px; left: -2px; transform: scale(1.2); }
.fancy-icon:before         { font-family: file-icons; font-size: 15px; content: "\E96B"; top: 2px; font-size: 16px; }
.fantom-icon:before        { font-family: file-icons; font-size: 15px; content: "\E96F"; top: 2px; left: 1px; }
.fbx-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9FC"; top: 2px; }
.ff-icon:before            { font-family: file-icons; font-size: 15px; content: "\FB00"; top: 3px; }
.finder-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9E9"; top: 3px; font-size: 16px; }
.flow-icon:before          { font-family: file-icons; font-size: 15px; content: "\E921"; top: 1px; }
.flux-icon:before          { font-family: file-icons; font-size: 15px; content: "\E969"; top: 2px; }
.font-icon:before          { font-family: file-icons; font-size: 15px; content: "\E90F"; top: 1px; font-size: 14px; left: 1px; }
.fortran-icon:before       { font-family: file-icons; font-size: 15px; content: "\E90A"; top: 1px; font-size: 14px; left: 1px; }
.freemarker-icon:before    { font-family: file-icons; font-size: 15px; content: "\E970"; top: 2px; font-size: 16px; left: 1px; }
.frege-icon:before         { font-family: file-icons; font-size: 15px; content: "\E96E"; top: 2px; font-size: 16px; left: 1px; }
.fuelux-icon:before        { font-family: file-icons; font-size: 15px; content: "\EA09"; top: 3px; font-size: 16px; left: 2px; transform: scale(1.15); text-shadow: 0 0 0; }
.gams-icon:before          { font-family: file-icons; font-size: 15px; content: "\E973"; top: 2px; left: 1px; }
.gap-icon:before           { font-family: file-icons; font-size: 15px; content: "\E971"; top: 3px; font-size: 16px; left: 1px; }
.gdb-icon:before           { font-family: file-icons; font-size: 15px; content: "\EA08"; top: 3px; font-size: 16px; transform: scale(1.15); text-shadow: 0 0 0; }
.genshi-icon:before        { font-family: file-icons; font-size: 15px; content: "\E976"; top: 3px; }
.gentoo-icon:before        { font-family: file-icons; font-size: 15px; content: "\E96D"; top: 1px; font-size: 14px; left: 1px; }
.gf-icon:before            { font-family: file-icons; font-size: 15px; content: "\E978"; top: 2px; }
.glade-icon:before         { font-family: file-icons; font-size: 15px; content: "\E938"; top: 2px; }
.glyphs-icon:before        { font-family: file-icons; font-size: 15px; content: "G";     top: 3px; }
.gml-icon:before           { font-family: file-icons; font-size: 15px; content: "\E975"; top: 3px; font-size: 16px; }
.gn-icon:before            { font-family: file-icons; font-size: 15px; content: "\EA25"; top: 2px; }
.gnu-icon:before           { font-family: file-icons; font-size: 15px; content: "\E679"; top: 2px; font-size: 16px; text-shadow: 0 0 0; }
.go-icon:before            { font-family: file-icons; font-size: 15px; content: "\E624"; top: 3px; }
.godot-icon:before         { font-family: file-icons; font-size: 15px; content: "\E974"; top: 2px; }
.golo-icon:before          { font-family: file-icons; font-size: 15px; content: "\E979"; top: 2px; }
.gosu-icon:before          { font-family: file-icons; font-size: 15px; content: "\E97A"; top: 2px; }
.gradle-icon:before        { font-family: file-icons; font-size: 15px; content: "\E903"; top: 3px; font-size: 16px; left: 1px; }
.graphql-icon:before       { font-family: file-icons; font-size: 15px; content: "\E97C"; top: 2px; }
.graphviz-icon:before      { font-family: file-icons; font-size: 15px; content: "\E97D"; top: 4px; font-size: 17px; left:  1px; }
.groovy-icon:before        { font-family: file-icons; font-size: 15px; content: "\E904"; top: 4px; font-size: 17px; left: -1px; }
.grunt-icon:before         { font-family: file-icons; font-size: 15px; content: "\E611"; top: 1px; font-size: 14px; }
.gulp-icon:before          { font-family: file-icons; font-size: 15px; content: "\E610"; top: 2px; font-size: 16px; }
.hack-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9CE"; top: 2px; }
.haml-icon:before          { font-family: file-icons; font-size: 15px; content: "\F15B"; top: 2px; }
.harbour-icon:before       { font-family: file-icons; font-size: 15px; content: "\E97B"; top: 2px; font-size: 16px; text-shadow: 0 0 0; }
.hashicorp-icon:before     { font-family: file-icons; font-size: 15px; content: "\E97E"; top: 2px; }
.haxe-icon:before          { font-family: file-icons; font-size: 15px; content: "\E907"; top: 2px; }
.hy-icon:before            { font-family: file-icons; font-size: 15px; content: "\E97F"; top: 2px; }
.idl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E947"; top: 3px; font-size: 18px; }
.idris-icon:before         { font-family: file-icons; font-size: 15px; content: "\E983"; top: 2px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; }
.igorpro-icon:before       { font-family: file-icons; font-size: 15px; content: "\E980"; top: 2px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; }
.indesign-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9F4"; top: 2px; }
.inform7-icon:before       { font-family: file-icons; font-size: 15px; content: "\E984"; top: 2px; font-size: 16px; text-shadow: 0 0 0; }
.inno-icon:before          { font-family: file-icons; font-size: 15px; content: "\E985"; top: 2px; }
.io-icon:before            { font-family: file-icons; font-size: 15px; content: "\E981"; top: 1px; font-size: 13px; -webkit-font-smoothing: subpixel-antialiased; }
.ioke-icon:before          { font-family: file-icons; font-size: 15px; content: "\E982"; top: 2px; }
.ionic-icon:before         { font-family: file-icons; font-size: 15px; content: "\F14B"; top: 2px; }
.isabelle-icon:before      { font-family: file-icons; font-size: 15px; content: "\E945"; top: 2px; font-size: 16px; }
.j-icon:before             { font-family: file-icons; font-size: 15px; content: "\E937"; top: 1px; font-size: 13px; }
.jade-icon:before          { font-family: file-icons; font-size: 15px; content: "\E90D"; top: 1px; font-size: 14px; }
.jake-icon:before          { font-family: file-icons; font-size: 15px; content: "\E948"; top: 3px; font-size: 16px; }
.jenkins-icon:before       { font-family: file-icons; font-size: 15px; content: "\E667"; top: 3px; font-size: 18px; text-shadow: 0 0 0; }
.jinja-icon:before         { font-family: file-icons; font-size: 15px; content: "\E944"; top: 2px; }
.jsonld-icon:before        { font-family: file-icons; font-size: 15px; content: "\E958"; top: 3px; font-size: 17px; }
.jsx-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9E6"; top: 1px; font-size: 14px; }
.julia-icon:before         { font-family: file-icons; font-size: 15px; content: "\26EC"; top: 1px; font-size: 14px; }
.jupyter-icon:before       { font-family: file-icons; font-size: 15px; content: "\E987"; top: 3px; font-size: 16px; }
.karma-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9CD"; top: 2px; }
.keynote-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9E5"; top: 2px; }
.khronos-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9F8"; top: 2px; }
.kivy-icon:before          { font-family: file-icons; font-size: 15px; content: "\E901"; top: 2px; }
.knockout-icon:before      { font-family: file-icons; font-size: 15px; content: "K";   top: 2px; }
.kotlin-icon:before        { font-family: file-icons; font-size: 15px; content: "\E989"; top: 1px; font-size: 14px; }
.krl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E988"; top: 1px; font-size: 14px; }
.labview-icon:before       { font-family: file-icons; font-size: 15px; content: "\E98A"; top: 2px; font-size: 16px; }
.lasso-icon:before         { font-family: file-icons; font-size: 15px; content: "\E98C"; top: 2px; left: 1px; }
.leaflet-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA07"; top: 2px; }
.lean-icon:before          { font-family: file-icons; font-size: 15px; content: "L";     top: 1px; font-size: 13px; }
.lein-icon:before          { font-family: file-icons; font-size: 15px; content: "\F105"; top: 3px; font-size: 16px; text-shadow: 0 0 0; transform: scale(1.15); }
.lfe-icon:before           { font-family: file-icons; font-size: 15px; content: "\E94C"; top: 2px; font-size: 16px; }
.lightwave-icon:before     { font-family: file-icons; font-size: 15px; content: "\E9FB"; top: 2px; }
.lisp-icon:before          { font-family: file-icons; font-size: 15px; content: "\E908"; top: 3px; font-size: 17px; }
.llvm-icon:before          { font-family: file-icons; font-size: 15px; content: "\E91D"; top: 3px; font-size: 17px; }
.logtalk-icon:before       { font-family: file-icons; font-size: 15px; content: "\E98D"; top: 2px; text-shadow: 0 0 0; }
.lookml-icon:before        { font-family: file-icons; font-size: 15px; content: "\E98E"; top: 2px; font-size: 16px; text-shadow: 0 0 0; }
.ls-icon:before            { font-family: file-icons; font-size: 15px; content: "\E914"; top: 2px; font-size: 14px; }
.lsl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E98B"; top: 1px; }
.lua-icon:before           { font-family: file-icons; font-size: 15px; content: "\E91B"; top: 2px; font-size: 14px; }
.mako-icon:before          { font-family: file-icons; font-size: 15px; content: "\E98F"; top: 4px; font-size: 16px; }
.mapbox-icon:before        { font-family: file-icons; font-size: 15px; content: "\E941"; top: 1px; font-size: 13px; }
.marko-icon:before         { font-family: file-icons; font-size: 15px; content: "\E920"; top: 4px; font-size: 18px; left: -1px; transform: scale(1.05); }
.mathematica-icon:before   { font-family: file-icons; font-size: 15px; content: "\E990"; top: 2px; font-size: 16px; }
.mathjax-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA06"; top: 2px; }
.matlab-icon:before        { font-family: file-icons; font-size: 15px; content: "\E991"; top: 2px; }
.max-icon:before           { font-family: file-icons; font-size: 15px; content: "\E993"; top: 2px; }
.maxscript-icon:before     { font-family: file-icons; font-size: 15px; content: "\E900"; top: 2px; }
.maya-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9F6"; top: 2px; font-size: 16px; }
.manpage-icon:before       { font-family: file-icons; font-size: 15px; content: "\E936"; top: 3px; }
.mediawiki-icon:before     { font-family: file-icons; font-size: 15px; content: "\E954"; top: 2px; font-size: 16px; }
.mercury-icon:before       { font-family: file-icons; font-size: 15px; content: "\E994"; top: 3px; font-size: 16px; transform: scale(1.2); }
.metal-icon:before         { font-family: file-icons; font-size: 15px; content: "M";     top: 1px; left: 1px; }
.meteor-icon:before        { font-family: file-icons; font-size: 15px; content: "\E6A5"; top: 1px; }
.minecraft-icon:before     { font-family: file-icons; font-size: 15px; content: "\E9DC"; top: 2px; }
.mirah-icon:before         { font-family: file-icons; font-size: 15px; content: "\E995"; top: 2px; }
.mocha-icon:before         { font-family: file-icons; font-size: 15px; content: "\26FE"; top: 2px; font-size: 17px; }
.model-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9E8"; top: 2px; font-size: 16px; }
.modula2-icon:before       { font-family: file-icons; font-size: 15px; content: "\E996"; top: 2px; }
.monkey-icon:before        { font-family: file-icons; font-size: 15px; content: "\E997"; top: 3px; font-size: 18px; left: -1px; }
.mruby-icon:before         { font-family: file-icons; font-size: 15px; content: "\EA18"; top: 2px; }
.mupad-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9CA"; top: 3px; font-size: 16px; }
.mustache-icon:before      { font-family: file-icons; font-size: 15px; content: "\E60F"; top: 2px; font-size: 16px; }
.nant-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9E1"; top: 3px; transform: scale(1.2); }
.neko-icon:before          { font-family: file-icons; font-size: 15px; content: "\EA05"; top: 2px; }
.netlogo-icon:before       { font-family: file-icons; font-size: 15px; content: "\E99C"; top: 2px; left: 1px; }
.newrelic-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9D7"; top: 2px; }
.nginx-icon:before         { font-family: file-icons; font-size: 15px; content:"\F146B"; top: 2px; }
.nib-icon:before           { font-family: file-icons; font-size: 15px; content: "\2712"; top: 2px; }
.nimrod-icon:before        { font-family: file-icons; font-size: 15px; content: "\E998"; top: 2px; }
.nit-icon:before           { font-family: file-icons; font-size: 15px; content: "\E999"; top: 2px; }
.nix-icon:before           { font-family: file-icons; font-size: 15px; content: "\E99A"; top: 3px; font-size: 16px; }
.nmap-icon:before          { font-family: file-icons; font-size: 15px; content: "\E94D"; top: 3px; font-size: 16px; transform: scale(1.1); }
.nodemon-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA26"; top: 2px; }
.normalize-icon:before     { font-family: file-icons; font-size: 15px; content: "\EA04"; top: 3px; font-size: 16px; }
.npm-icon:before           { font-family: file-icons; font-size: 15px; content: "\E91C"; top: 3px; font-size: 17px; }
.nsis-icon:before          { font-family: file-icons; font-size: 15px; content: "\EA1E"; top: 3px; font-size: 16px; }
.numpy-icon:before         { font-family: file-icons; font-size: 15px; content: "\E99D"; top: 2px; font-size: 14px; }
.nuget-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9D9"; top: 2px; }
.nunjucks-icon:before      { font-family: file-icons; font-size: 15px; content: "\E953"; top: 2px; font-size: 16px; }
.nvidia-icon:before        { font-family: file-icons; font-size: 15px; content: "\E95D"; top: 2px; }
.objj-icon:before          { font-family: file-icons; font-size: 15px; content: "\E99E"; top: 2px; }
.ocaml-icon:before         { font-family: file-icons; font-size: 15px; content: "\E91A"; top: 1px; font-size: 14px; }
.onenote-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9EB"; top: 2px; }
.ooc-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9CB"; top: 2px; }
.opa-icon:before           { font-family: file-icons; font-size: 15px; content: "\2601"; top: 2px; }
.opencl-icon:before        { font-family: file-icons; font-size: 15px; content: "\E99F"; top: 2px; font-size: 16px; }
.openoffice-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9E4"; top: 2px; }
.org-icon:before           { font-family: file-icons; font-size: 15px; content: "\E917"; top: 1px; font-size: 14px; left: 1px; }
.owl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E957"; top: 2px; }
.ox-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9A1"; top: 3px; font-size: 16px; text-shadow: 0 0 0; }
.oxygene-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9BF"; top: 2px; }
.oz-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9BE"; top: 2px; }
.pan-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9BD"; top: 2px; }
.papyrus-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9BC"; top: 2px; }
.parrot-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9BB"; top: 3px; font-size: 16px; }
.pascal-icon:before        { font-family: file-icons; font-size: 15px; content: "\E92A"; top: 2px; }
.patch-icon:before         { font-family: file-icons; font-size: 15px; content: "\E961"; top: 2px; }
.pawn-icon:before          { font-family: file-icons; font-size: 15px; content: "\265F"; top: 1px; font-size: 14px; }
.perl6-icon:before         { font-family: file-icons; font-size: 15px; content: "\E96C"; top: 2px; }
.phalcon-icon:before       { font-family: file-icons; font-size: 15px; content: "\E94A"; top: 2px; }
.php-icon:before           { font-family: file-icons; font-size: 15px; content: "\F147"; top: 1px; font-size: 14px; left: 1px; }
.pickle-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9C4"; top: 2px; }
.pike-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9B9"; top: 4px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; transform: scale(1.15); }
.pogo-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9B8"; top: 3px; font-size: 14px; -webkit-font-smoothing: subpixel-antialiased; }
.pony-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9B7"; top: 3px; font-size: 16px; }
.pointwise-icon:before     { font-family: file-icons; font-size: 15px; content: "\E977"; top: 2px; }
.postcss-icon:before       { font-family: file-icons; font-size: 15px; content: "\E910"; top: 2px; font-size: 14px; }
.postscript-icon:before    { font-family: file-icons; font-size: 15px; content: "\E955"; top: 2px; left: 1px; }
.povray-icon:before        { font-family: file-icons; font-size: 15px; content: "P";     top: 2px; left: 1px; }
.powerbuilder-icon:before  { font-family: file-icons; font-size: 15px; content: "\EA14"; }
.powerpoint-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9EC"; top: 2px; }
.powershell-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9DA"; top: 2px; font-size: 16px; }
.premiere-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9F5"; top: 2px; }
.processing-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9A0"; top: 2px; }
.progress-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9C0"; top: 2px; font-size: 16px; transform: scale(1.2); }
.propeller-icon:before     { font-family: file-icons; font-size: 15px; content: "\E9B5"; top: 3px; font-size: 16px; }
.protractor-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9DE"; top: 3px; }
.psd-icon:before           { font-family: file-icons; font-size: 15px; content: "\E6B8"; top: 2px; }
.pug-icon:before           { font-family: file-icons; font-size: 15px; content: "\EA13"; top: 3px; font-size: 16px; }
.pug-alt-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9D0"; top: 3px; font-size: 16px; }
.puppet-icon:before        { font-family: file-icons; font-size: 15px; content: "\F0C3"; top: 2px; left: 1px; }
.purebasic-icon:before     { font-family: file-icons; font-size: 15px; content: "\1B5"; top: 2px; }
.purescript-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9B2"; top: 3px; }
.r-icon:before             { font-family: file-icons; font-size: 15px; content: "\E905"; top: 3px; font-size: 17px; }
.racket-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9B1"; top: 2px; left: 1px; }
.raml-icon:before          { font-family: file-icons; font-size: 15px; content: "\E913"; top: 1px; font-size: 14px; }
.rascal-icon:before        { font-family: file-icons; font-size: 15px; content: "\EA24"; top: 2px; }
.rdoc-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9B0"; top: 2px; left: 1px; }
.react-icon:before         { font-family: file-icons; font-size: 15px; content: "\F100"; top: 2px; }
.rebol-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9AE"; top: 1px; font-size: 13px; }
.reason-icon:before        { font-family: file-icons; font-size: 15px; content: "\EA1D"; top: 3px; }
.red-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9AD"; top: 3px; font-size: 16px; }
.regex-icon:before         { font-family: file-icons; font-size: 15px; content: "*";     top: 1px; font-size: 12px; left: 1px; }
.rexx-icon:before          { font-family: file-icons; font-size: 15px; content: "\EA16"; top: 2px; font-size: 14px; left: 1px; }
.riot-icon:before          { font-family: file-icons; font-size: 15px; content: "\E919"; top: 4px; font-size: 18px; }
.robot-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9AC"; top: 2px; font-size: 14px; }
.rollup-icon:before        { font-family: file-icons; font-size: 15px; content: "\EA20"; top: 2px; }
.rst-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9CC"; top: 3px; font-size: 16px; }
.sage-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9AB"; top: 3px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; }
.saltstack-icon:before     { font-family: file-icons; font-size: 15px; content: "\E915"; top: 2px; font-size: 14px; }
.sas-icon:before           { font-family: file-icons; font-size: 15px; content: "\E95A"; top: 2px; }
.sbt-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9D2"; top: 2px; font-size: 14px; }
.scd-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9A2"; top: 2px; }
.scad-icon:before          { font-family: file-icons; font-size: 15px; content: "\E911"; top: 2px; font-size: 14px; }
.scheme-icon:before        { font-family: file-icons; font-size: 15px; content: "\3BB"; top: 2px; }
.scilab-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9A9"; top: 3px; font-size: 18px; left: -1px; -webkit-font-smoothing: subpixel-antialiased; }
.scrutinizer-icon:before   { font-family: file-icons; font-size: 15px; content: "\E9D4"; top: 2px; font-size: 14px; }
.self-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9A8"; top: 3px; font-size: 16px; text-shadow: 0 0 0; transform: scale(1.2); }
.sf-icon:before            { font-family: file-icons; font-size: 15px; content: "\E9DB"; top: 2px; }
.shen-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9A7"; top: 2px; font-size: 16px; }
.shopify-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9CF"; top: 2px; }
.shuriken-icon:before      { font-family: file-icons; font-size: 15px; content: "\272B"; top: 2px; font-size: 14px; }
.sigils-icon:before        { font-family: file-icons; font-size: 15px; content: "\1F764";top: 3px; font-size: 16px; text-shadow: 0 0 0; }
.silverstripe-icon:before  { font-family: file-icons; font-size: 15px; content: "\E800"; top: 2px; }
.sketch-icon:before        { font-family: file-icons; font-size: 15px; content: "\E927"; top: 2px; }
.slash-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9A6"; top: 2px; }
.snyk-icon:before          { font-family: file-icons; font-size: 15px; content: "\EA1C"; top: 2px; font-size: 16px; }
.sparql-icon:before        { font-family: file-icons; font-size: 15px; content: "\E959"; top: 2px; }
.sqf-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9A5"; top: 1px; text-shadow: 0 0 0; }
.sqlite-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9DD"; top: 3px; }
.stan-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9A4"; top: 2px; }
.stata-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9A3"; top: 2px; }
.storyist-icon:before      { font-family: file-icons; font-size: 15px; content: "\E9EF"; top: 2px; font-size: 16px; }
.strings-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9E0"; top: 2px; }
.stylelint-icon:before     { font-family: file-icons; font-size: 15px; content: "\E93D"; top: 2px; }
.stylus-icon:before        { font-family: file-icons; font-size: 15px; content: "s";     top: 2px; left: 1px; }
.sublime-icon:before       { font-family: file-icons; font-size: 15px; content: "\E986"; top: 2px; }
.svn-icon:before           { font-family: file-icons; font-size: 15px; content: "\EA17"; top: 2px; }
.sysverilog-icon:before    { font-family: file-icons; font-size: 15px; content: "\E9C3"; top: 2px; }
.tag-icon:before           { font-family: file-icons; font-size: 15px; content: "\F015"; top: 2px; font-size: 14px; }
.tcl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E956"; top: 2px; font-size: 16px; }
.terminal-icon:before      { font-family: file-icons; font-size: 15px; content: "\F0C8"; top: 2px; font-size: 14px; }
.tern-icon:before          { font-family: file-icons; font-size: 15px; content: "\1F54A";top: 4px; font-size: 16px; }
.terraform-icon:before     { font-family: file-icons; font-size: 15px; content: "\E916"; top: 1px; font-size: 14px; }
.tex-icon:before           { font-family: file-icons; font-size: 15px; content: "\E600"; top: 4px; font-size: 16px; -webkit-font-smoothing: subpixel-antialiased; }
.textile-icon:before       { font-family: file-icons; font-size: 15px; content: "t";     top: 2px; }
.textmate-icon:before      { font-family: file-icons; font-size: 15px; content: "\2122"; top: 2px; font-size: 16px; }
.thor-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9D8"; top: 2px; }
.ts-icon:before            { font-family: file-icons; font-size: 15px; content: "\2A6";  top: 1px; font-size: 14px; }
.tsx-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9E7"; top: 1px; font-size: 14px; }
.turing-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9B6"; top: 2px; }
.txl-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9C1"; top: 2px; }
.typedoc-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9FE"; top: 2px; }
.typings-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9DF"; top: 2px; }
.uno-icon:before           { font-family: file-icons; font-size: 15px; content: "\E9B3"; top: 2px; }
.unreal-icon:before        { font-family: file-icons; font-size: 15px; content: "u";     top: 2px; }
.urweb-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9BA"; top: 4px; font-size: 18px; left: -1px; text-shadow: 0 0 0; }
.webpack-icon:before       { font-family: file-icons; font-size: 15px; content: "\E91E"; top: 3px; }
.wercker-icon:before       { font-family: file-icons; font-size: 15px; content: "\EA19"; top: 2px; }
.word-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9ED"; top: 2px; }
.v8-icon:before            { font-family: file-icons; font-size: 15px; content: "\EA1F"; top: 3px; font-size: 16px; }
.vagrant-icon:before       { font-family: file-icons; font-size: 15px; content: "V";     top: 2px; font-size: 14px; }
.varnish-icon:before       { font-family: file-icons; font-size: 15px; content: "\E9B4"; top: 1px; font-size: 14px; }
.verilog-icon:before       { font-family: file-icons; font-size: 15px; content: "\E949"; top: 2px; }
.vhdl-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9AA"; top: 2px; }
.video-icon:before         { font-family: file-icons; font-size: 15px; content: "\F057"; top: 1px; font-size: 14px; }
.vue-icon:before           { font-family: file-icons; font-size: 15px; content: "\E906"; top: 3px; }
.x10-icon:before           { font-family: file-icons; font-size: 15px; content: "\2169"; top: 2px; }
.xmos-icon:before          { font-family: file-icons; font-size: 15px; content: "X";     top: 1px; font-size: 14px; }
.xojo-icon:before          { font-family: file-icons; font-size: 15px; content: "\E9AF"; top: 2px; }
.xpages-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9C5"; top: 2px; }
.xtend-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9C6"; top: 2px; }
.yang-icon:before          { font-family: file-icons; font-size: 15px; content: "\262F"; top: 2px; }
.yarn-icon:before          { font-family: file-icons; font-size: 15px; content: "\EA1A"; top: 2px; font-size: 16px; }
.yui-icon:before           { font-family: file-icons; font-size: 15px; content: "\EA00"; top: 2px; }
.zbrush-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9F2"; top: 2px; font-size: 16px; }
.zephir-icon:before        { font-family: file-icons; font-size: 15px; content: "\E9C7"; top: 2px; -webkit-font-smoothing: subpixel-antialiased; }
.zimpl-icon:before         { font-family: file-icons; font-size: 15px; content: "\E9C8"; top: 2px; font-size: 16px; left: 1px; }