.loader {
	width: 100%;
	height: 100%;
	position: relative;

	h2 {
		text-align: center;
		width: 100%;
		position: absolute;
		top: calc(50% - 60px);


		em {
			display: inline-block;
			animation: jump 1500ms infinite ease-in-out;

			@for $i from 0 to 24 {
				&:nth-of-type(#{$i}) {
					animation-delay: 500ms + (200ms * $i);
				}
			}
		}
	}

	.dot,
	.ring {
		position: absolute;
		border-radius: 50%;
	}

	.dot {
		width: 20px;
		height: 20px;
		top: calc(50% - 10px);
		left: calc(50% - 10px);

		background: $blue;
		animation: 3s pulse infinite linear;
	}

	.ring {
		border-width: 6px;
		border-style: solid;
		animation: 3s spin infinite linear;

		&:nth-child(1) {
			border-color: $blue transparent;
			height: 40px;
			width: 40px;
			top: calc(50% - 20px);
			left: calc(50% - 20px);

		}

		&:nth-child(2) {
			border-color: transparent $blue;
			height: 60px;
			width: 60px;
			top: calc(50% - 30px);
			left: calc(50% - 30px);
		}
	}
}

@keyframes pulse {
	50% {
		background-color: transparent;
		transform: scale(0.7);
	}
}

@keyframes spin {
	0% {
		transform: scale(1) rotate(0deg);
	}

	25% {
		transform: scale(0.76) rotate(180deg);

	}

	50% {
		transform: scale(0.33) rotate(360deg);
		border-color: transparent transparent;

	}

	75% {
		transform: scale(0.76) rotate(540deg);
	}

	100% {
		transform: scale(1) rotate(720deg);
	}
}

@keyframes jump {
	0% {
		transform: translateY(0)
	}

	50% {
		transform: translateY(1px)
	}

	100% {
		transform: translateY(0)
	}
}