/*============================================================================*
	PALETTE	
	From https://clrs.cc/
	Based on File-Icons
/*============================================================================*/

$adjust-tone: 0%;



$red:     #FF4136;
$orange:  #FF851B;
$yellow:  #FFDC00;
$lime:    #01FF70;
$green:   #2ECC40;
$olive:   #3D9970;
$teal:    #39CCCC;
$aqua:    #7FDBFF;
$cyan:    #80FFF4;
$blue:    #0074D9;
$navy:    #001f3f;
$maroon:  #85144b;
$fushia:  #F012BE;
$purple:  #B10DC9;
$pink:    #F01171;

// Red
$medium-red: $red;
$light-red: lighten($red, $adjust-tone);
$dark-red:   darken($red, $adjust-tone);

// Orange
$medium-orange: $orange;
$light-orange: lighten($orange, $adjust-tone);
$dark-orange:   darken($orange, $adjust-tone);

// Yellow
$medium-yellow: $yellow;
$light-yellow: lighten($yellow, $adjust-tone);
$dark-yellow:   darken($yellow, $adjust-tone);

// Lime
$medium-lime: $lime;
$light-lime: lighten($lime, $adjust-tone);
$dark-lime:   darken($lime, $adjust-tone);

// Green
$medium-green: $green;
$light-green: lighten($green, $adjust-tone);
$dark-green:   darken($green, $adjust-tone);

// Olive
$medium-olive: $olive;
$light-olive: lighten($olive, $adjust-tone);
$dark-olive:   darken($olive, $adjust-tone);

// Teal
$medium-teal: $teal;
$light-teal: lighten($teal, $adjust-tone);
$dark-teal:   darken($teal, $adjust-tone);

// Aqua
$medium-aqua: $aqua;
$light-aqua: lighten($aqua, $adjust-tone);
$dark-aqua:   darken($aqua, $adjust-tone);

// Cyan
$medium-cyan: $cyan;
$light-cyan: lighten($cyan, $adjust-tone);
$dark-cyan:   darken($cyan, $adjust-tone);

// Blue
$medium-blue: $blue;
$light-blue: lighten($blue, $adjust-tone);
$dark-blue:   darken($blue, $adjust-tone);

// Navy
$medium-navy: $navy;
$light-navy: lighten($navy, $adjust-tone);
$dark-navy:   darken($navy, $adjust-tone);

// Maroon
$medium-maroon: $maroon;
$light-maroon: lighten($maroon, $adjust-tone);
$dark-maroon:   darken($maroon, $adjust-tone);

// Fushia
$medium-fushia: $fushia;
$light-fushia: lighten($fushia, $adjust-tone);
$dark-fushia:   darken($fushia, $adjust-tone);

// Purple
$medium-purple: $purple;
$light-purple: lighten($purple, $adjust-tone);
$dark-purple:   darken($purple, $adjust-tone);

// Pink
$medium-pink: $pink;
$light-pink: lighten($pink, $adjust-tone);
$dark-pink:   darken($pink, $adjust-tone);

/*============================================================================*
	CSS CLASSES
/*============================================================================*/

.light-red:before     { color: $light-red; }
.medium-red:before    { color: $medium-red; }
.dark-red:before      { @include brighten-if-needed($dark-red, 15%); }

.light-orange:before  { @include darken-if-needed($light-orange, 8%); }
.medium-orange:before { color: $medium-orange; }
.dark-orange:before   { color: $dark-orange; }

.light-yellow:before  { @include darken-if-needed($light-yellow, 23%); }
.medium-yellow:before { @include darken-if-needed($medium-yellow, 15%); }
.dark-yellow:before   { @include darken-if-needed($dark-yellow, 10%); }

.light-lime:before  { @include darken-if-needed($light-lime, 23%); }
.medium-lime:before { @include darken-if-needed($medium-lime, 15%); }
.dark-lime:before   { @include darken-if-needed($dark-lime, 10%); }

.light-green:before   { @include darken-if-needed($light-green, 5%); }
.medium-green:before  { color: $medium-green; }
.dark-green:before    { color: $dark-green; }

.light-olive:before    { @include darken-if-needed($light-olive, 18%); }
.medium-olive:before   { color: $medium-olive; }
.dark-olive:before     { color: $dark-olive; }

.light-teal:before    { @include darken-if-needed($light-teal, 18%); }
.medium-teal:before   { color: $medium-teal; }
.dark-teal:before     { color: $dark-teal; }

.light-aqua:before    { @include darken-if-needed($light-aqua, 18%); }
.medium-aqua:before   { color: $medium-aqua; }
.dark-aqua:before     { color: $dark-aqua; }

.light-cyan:before    { @include darken-if-needed($light-cyan, 18%); }
.medium-cyan:before   { color: $medium-cyan; }
.dark-cyan:before     { color: $dark-cyan; }

.light-blue:before    { @include darken-if-needed($light-blue, 18%); }
.medium-blue:before   { color: $medium-blue; }
.dark-blue:before     { color: $dark-blue; }

.light-navy:before    { @include darken-if-needed($light-navy, 18%); }
.medium-navy:before   { color: $medium-navy; }
.dark-navy:before     { color: $dark-navy; }

.light-maroon:before  { color: $light-maroon; }
.medium-maroon:before { color: $medium-maroon; }
.dark-maroon:before   { @include brighten-if-needed($dark-maroon, 8%); }

.light-fushia:before  { color: $light-fushia; }
.medium-fushia:before { color: $medium-fushia; }
.dark-fushia:before   { color: $dark-fushia; }

.light-purple:before  { color: $light-purple; }
.medium-purple:before { color: $medium-purple; }
.dark-purple:before   { color: $dark-purple; }

.light-pink:before    { color: $light-pink; }
.medium-pink:before   { color: $medium-pink; }
.dark-pink:before     { @include brighten-if-needed($dark-pink, 5%); }
