html body {
	cursor: url(images/cursors/default.svg), auto;

	input[type="checkbox"] {
		cursor: url(images/cursors/pointer.svg), pointer;
	}

	#editor-region {
		.ace_scroller {
			cursor: url(images/cursors/i-cursor.svg), text;
		}

		.ace_gutter {
			cursor: url(images/cursors/default.svg), auto;
		}
	}

	#editor-top-bar ul li {
		cursor: url(images/cursors/pointer.svg), pointer;

	}

	#file-manager {
		a {
			cursor: url(images/cursors/pointer.svg), pointer;
		}
	}

	i {
		cursor: url(images/cursors/pointer.svg), pointer;
	}

	.title i {
		cursor: url(images/cursors/pointer.svg), pointer;
	}

	a {
		cursor: url(images/cursors/pointer.svg), pointer;
	}

	.sidebar .handle {
		cursor: url(images/cursors/col-resize.svg), pointer;
	}

	#codegit_repo_banner {
		cursor: url(images/cursors/pointer.svg), pointer;
	}

	input,
	select {
		cursor: url(images/cursors/pointer.svg), pointer;
	}
}