::-webkit-scrollbar {
	width: $scrollbarWidth;
	height: $scrollbarWidth;
}

table {
	::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: $coal;
}

::-webkit-scrollbar-thumb:vertical:hover {
	background-color: $metal;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: $coal;
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: $metal;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

* {
	scrollbar-width: thin;
	scrollbar-color: $coal transparent;
}