$shade0:   #F5F9F9;
$shade1:  #D5D9DD;
$shade2:    #A5A9AA;
$shade3:   #757577;
$shade4:    #414141;
$shade5:   #353533;
$shade6:   #252525;
$shade7:   #1C1C1E;
$shade8:   #151516;
$shade9:   #010101;

//////////////////////////////////////////////////////////////////////////////80
//	CSS CLASSES
//////////////////////////////////////////////////////////////////////////////80

.white::before	{ color: $shade0; }
.silver::before	{ color: $shade1; }
.grey::before	{ color: $shade2; }
.metal::before	{ color: $shade3; }
.coal::before	{ color: $shade4; }
.smoke::before	{ color: $shade5; }
.raven::before	{ color: $shade6; }
.ebony::before	{ color: $shade7; }
.black::before	{ color: $shade8; }
.vanta::before	{ color: $shade9; }

:root {
	--white: $shade0;
	--silver: $shade1;
	--grey: $shade2;
	--metal: $shade3;
	--coal: $shade4;
	--smoke: $shade5;
	--raven: $shade6;
	--ebony: $shade7;
	--black: $shade8;
	--vanta: $shade9;
}