/* SCSS VARIABLES */
$box-shadow: none;
$border-radius: 0;
$icon-color: $base07;
$accent-color: $blue;
$tab-color:$accent-color;
$font-size: 14px;
$font-size-lg: 16px;

$font-color-main: $base07;
$font-color-secondary: $base04;
$font-color-subtle:$font-color-secondary;

$foreground: $base01;
$background: $base00;

$animation-duration: 0.2s;
$transition-duration: 0.2s;


// #303030 -> Base01
// #333 -> Base02
// #ccc -> $font-color-secondary
// #999 -> $font-color-subtle

$font-size-icon-medium: 20px;