/* SCSS VARIABLES */

// THESE ARE THE ONES TO USE
$fontColorMajor: $base07;
$fontColorMinor: $base04;
$fontColorSmall: $base04;

$fontSizeH1: 24px;
$fontSizeH2: 20px;
$fontSizeH3: 18px;
$fontSizeH4: 16px;
$fontSizePr: 14px;
$fontSizeSm: 12px;

$foreground: $base01;
$background: #191919;
$midground: #474747;
$highlight: #393939;

$borderLight: #8c8c8c;
$borderHeavy: #393939;

$colorMajor: $blue;
$colorMinor: $aqua;

$hoverMajor: $blue;
$hoverMinor: $highlight;

$animationDuration: 0.2s;
$transitionDuration: 0.2s;

$scrollbarWidth: 10px;

$topBarHeight: 33px;
$bottomBarHeight: 23px;
$sidebarHandleWidth: 15px;
$fileManagerHeight: 280px;

$inputBackground: #1D1D1D;
$tabListBackground:$colorMajor;

// #303030 -> Base01
// #333 -> Base02
// #ccc -> $font-color-secondary
// #999 -> $font-color-subtle

@mixin box-shadow {
	// box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .5);
}

@mixin border-radius {
	// border-radius: 30px;
}

@mixin border($size: 1px, $direction: 0) {
	@if $direction !=0 {
		border-#{$direction}: $size solid $grey;
	} @else {
		border: $size solid $grey;
	}
}