/* SCSS VARIABLES */
$border-thin: 1px solid $grey;
$border-thick: 3px solid $grey;

$icon-color: $base07;
$accent-color: $blue;
$tab-color:$accent-color;
$font-size: 14px;
$font-size-lg: 16px;

$font-color-primary: $base07;
$font-color-secondary: $base04;
$font-color-subtle:$font-color-secondary;

$foreground: $base01;
$background: #191919;
$highlight: #393939;

$animation-duration: 0.2s;
$transition-duration: 0.2s;

$scrollbarWidth: 10px;

$input-background: #1D1D1D;



// #303030 -> Base01
// #333 -> Base02
// #ccc -> $font-color-secondary
// #999 -> $font-color-subtle

$font-size-icon-medium: 20px;


@mixin box-shadow {
	// box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .5);
}

@mixin border-radius {
	// border-radius: 30px;
}

@mixin border($size: 1px, $direction: 0) {
	@if $direction !=0 {
		border-#{$direction}: $size solid $grey;
	} @else {
		border: $size solid $grey;
	}
}