$fontColorMajor: $shade0;
$fontColorMinor: $shade3;
$fontColorSmall: $shade5;

$fontSizeH1: 20px;
$fontSizeH2: 20px;
$fontSizeH3: 18px;
$fontSizeH4: 16px;
$fontSizePr: 14px;
$fontSizeSm: 12px;

$foreground: $shade4;
$background: $shade8;
$midground: $shade5;
$highlight: $shade2;

$borderLight: $shade3;
$borderHeavy: $shade5;

$colorMajor: $blue;
$colorMinor: $aqua;

$hoverMajor: $blue;
$hoverMinor: $highlight;
$hoverPercent: 30%;

$animationDuration: 0.2s;
$transitionDuration: 0.2s;

$scrollbarWidth: 10px;

$topBarHeight: 33px;
$bottomBarHeight: 23px;
$sidebarHandleWidth: 15px;
$fileManagerHeight: 280px;

$inputBackground: $shade7;
$tabListBackground: $colorMajor;

:root {
	--background: $background;
	--foreground: $foreground;
	--fcMajor: $fontColorMajor;
	--fcMinor: $fontColorMinor;
	--fcSmall: $fontColorSmall;
}

@mixin box-shadow {
	// box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .5);
}

@mixin border-radius {
	// border-radius: 30px;
}

@mixin border($size: 1px, $direction: 0) {
	@if $direction !=0 {
		border-#{$direction}: $size solid $shade2;
	}

	@else {
		border: $size solid $shade2;
	}
}

@mixin input() {
	background-color: $inputBackground;
	border: none;
	border-bottom: 2px solid $borderLight;
	color: $fontColorMajor;
}