<aside>
	<h3>About Liam Siira</h3>
	<div class="content">
		<p>
			I'm a hobbyist programmer who occasionally enjoys writing about programming, usually within the context of the things I am working on.
		</p>
	</div>
</aside>