/* Fix for the file manager bottom most file being hidden underneath the project list. */
#codegit_repo_banner[style*='display: block']+#file-manager {
	height: calc(100% - 22px);
}

#file-manager .repo-icon {
	// float: right;
	// font-size: 16px;
	// line-height: 16px;

	font-size: 10px;
	line-height: 20px;
	position: absolute;
	left: 0;
	color: $background;
}

#project-root .repo-icon {
	font-size: 12px;
	line-height: 24px;
	position: absolute;
	left: 2px;
	color: $background;
}

[id^="codegit_"],
#codegit {
	&.content {
		padding: 5px;
		width: 800px;
		height: 100%;
		// min-width: 600px;
		background-color: $background;
		overflow-y: scroll;
	}
}

#modal_content #codegit form {
	background-color: $background;

}

[id^="codegit_"].content {
	height: 60vh;
}


#codegit {
	display: flex;
	@include border(1px, top);

	.big-icon {
		font-size: 100%;
		margin-right: 12px;
	}

	#panel_menu {
		max-height: 55vh;
		overflow: auto;
		width: 200px;

		li a {
			display: block;
			padding: 10px;
			user-select: none;

			i {
				margin-right: 5px;
			}
		}

		.active {
			background-color: $blue;
		}
	}

	#panel_view {
		height: 60vh;
		// background-color: $background;
		@include border(1px, left);

		form {
			padding: 0;
		}
	}
}




@import "status", "blame", "diff", "overview", "log", "todo", "transfer";