#hex_overlay {
	left: -20px;
	// opacity: .15;
	position: fixed;
	top: -20px;
	z-index: 0;
	pointer-events: none;
	height: 120vh;
	width: 120vw;
	//
	// background-color: $medium-navy;
	background: linear-gradient(-45deg, #000 40%, #0074D7 50%, #000 60%);
	background-size: 600% 600%;
	animation: gradient 10s linear infinite;
	//
	// background: url(images/nebula.jpg) repeat-x 0 / 100% auto;
	// animation: 100s scroll infinite linear;
	// background-size: contain;
	// animation: ani-gradient 20s linear infinite;
}

@keyframes gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@keyframes ani-gradient {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 100vw 0;
	}
}

@keyframes scroll {
	100% {
		background-position: -2000px 0;
	}
}