#installer {
	position: absolute;
	width: 450px;
	top: 15%;
	left: 50%;
	margin-left: -175px;
	padding: 35px;
	overflow: auto;
	z-index: 1;

	h1 {
		font-size: 24px;
		margin: 0 0 15px;
	}

	hr {
		height: 0;
		border: none;
		margin: 20px 0;
		border-top: $borderLight;
	}
}

.install_issues {
	background: $inputBackground;
	padding: 10px;
	margin: 10px 0 5px;
	font-family: monospace;
	overflow: auto;
}

.install_issues p {
	padding: 0;
	margin: 0;
}