#login {
	left: calc(50% - (384px / 2));
	// padding: 35px;
	z-index: 1;
	top: 35%;
	position: absolute;
	// background: rgba($base00, 0.8);

	fieldset {
		width: 384px;

		border: 1px solid #0074D9;
		background-color: #111111;
		margin: auto;
		// margin-top: 15px;
		// width: 310px;
		padding: 15px 35px 25px 35px;
	}

	legend {
		font-size: 32px;
		font-weight: 700;
		text-align: center;

		span {
			font-size: 1rem;
		}
	}
	
	label {
		font-size: 14px;
	}

	#login_options {
		position: relative;
		display: none;
	}

	button {
		float: right;
	}
	button+button {
		margin-right: 6px;
	}
}