/* TABLES */
table {
	width: 100%;
	border-collapse: collapse;


	td,
	th {
		vertical-align: middle;
		padding: 3px 10px 5px;
		border: 1px solid #454445;
		overflow: hidden;

		&.action {
			text-align: center;
		}
	}

	th {
		text-align: left;
		font-weight: bold;
		background: #3b3b3b;
		padding-top: 8px;
	}


	[class^="icon-"],
	[class*=" icon-"] {
		display: block;
	}
}