#title {
	position: relative;
	width: 26em;
	z-index: 2;
	text-align: center;
	margin: 200px auto;
	text-align: center;

	h1 {
		font-weight: 900;
		letter-spacing: -1px;
		font-size: 8em;
		color: #fff;
		text-align: center;
	}

	span {
		font-weight: 900;
		letter-spacing: -1px;
		font-size: 3em;
		color: #aaa;
		text-align: right;
		margin-top: -22px;
		display: inline-block;
		width: 100%;

	}
}


.linear-wipe {
	background             : linear-gradient(to right, #EEF 10%, #CCD 30%, #BBC 50%, #AAC 70%, #EEF 90%);
	background-size        : 200% auto;
	color                  : #000;
	background-clip        : text;
	text-fill-color        : transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation      : shine 2s linear infinite;
	animation              : shine 2s linear infinite;
}

.linear-wipe:after {
	display: none;
}
@-webkit-keyframes shine {
	to {
		background-position: 200% center;
	}
}
@keyframes shine {
	to {
		background-position: 200% center;
	}
}