// $hexconSizeFull: 28px;
// $hexconSizeThree: 20px;
// $hexconSizeHalf: 14px;
// $hexconSizeQuarter: 7px;

// $hexconSizeFull: 36px;
// $hexconSizeThree: 24px;
// $hexconSizeHalf: 18px;
// $hexconSizeQuarter: 9px;

header {
	.hexcon {
		margin-top: 20px;
		float: right;
		display: inline-block;

		@media (min-width: 768px) {
			float: none;
			display: block;
			margin-top: 8px;
		}
	}
}


$hexconSizeFull: 32px;
$hexconSizeThree: 24px;
$hexconSizeHalf: 16px;
$hexconSizeQuarter: 8px;

.hexcon {
	margin-top: 8px;
	margin-bottom: auto;
	padding: 0;

	li {
		display: inline-block;
		margin: 2px;

		&:before {
			content: none;
		}
	}

	a {
		background: $primary;
		position: relative;
		width: $hexconSizeFull;
		height: 21px; // $hexconSizeThree;
		text-align: center;
		transition: all 0.3s ease-in-out;
		display: inline-block;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			width: 0;
			height: 0;
			border-left: $hexconSizeHalf solid transparent;
			border-right: $hexconSizeHalf solid transparent;
			transition: all 0.3s ease-in-out;
			z-index: 1;

		}

		&:before {
			top: -#{$hexconSizeQuarter};
			border-bottom: $hexconSizeQuarter solid $primary;
		}

		i,
		icon {
			color: $fontColorMajor;
			font-size: $hexconSizeThree; // Change
			position: absolute;
			// top: 1px;
			top: -1px;
			left: calc(50% - 0.6em);
			text-shadow: 0 0 3px black;
			z-index: 99;
		}

		&:after {
			bottom: -#{$hexconSizeQuarter};
			border-top: $hexconSizeQuarter solid $primary;
		}

		&:hover {
			background: $secondary;

			&:before {
				border-bottom: $hexconSizeQuarter solid $secondary;
			}

			&:after {
				border-top: $hexconSizeQuarter solid $secondary;
			}
		}
	}
}