#logo {
	position: absolute;
	top: calc(30% - 150px);
	left: calc(50% - 160px);
	// z-index: -1;
	opacity: 0.5;

	path {
		animation: float 1s infinite ease-in-out alternate;
	}

	@media (min-width: 768px) {
		position: fixed;
		top: calc(25% - 200px);
		left: calc(20% - 140px);
		opacity: 1;
	}

	/* Fills for SVG */
	.navy {
		fill: $navy;
	}

	.blue {
		fill: $blue;
	}

	.aqua {
		fill: $aqua;
	}

	.teal {
		fill: $teal;
	}

	.olive {
		fill: $olive;
	}

	.orange {
		fill: $orange;
	}

	.black {
		fill: $black;
	}

}


header {
	#logo {
		z-index: 1;
		opacity: 1;
		height: 14vh;
		width: 14vh;
		// margin: 1vh;
		vertical-align: middle;
		position: unset;
		display: none;

		@media (min-width: 768px) {
			// height: 14vh;
			// width: 14vh;
			// margin: auto;
			display: inline-block;
		}
	}
}