pagination {
	text-align: center;
	display: block;
	margin-top: $sectionMargin;


	@media (min-width: 768px) {
		margin-bottom: $sectionMargin;
		margin-top: auto;
	}

	a {
		font-size: 14px;

		transition: background 250ms;

		display: inline-block;
		text-transform: uppercase;
		margin: 0 3px 6px;
		// height: 38px;
		min-width: 38px;
		// border: 2px solid #fff;
		line-height: 38px;
		padding: 0;
		color: $fontColorMajor;
		font-weight: 700;
		letter-spacing: .03em;

		@include foreground();
		
		icon {
			font-size: 22px;
		}


		&.prev,
		&.next,
		&.center {
			padding: 0 16px;
			margin: 0;

			span {
				display: none;
			}

			@media (min-width: 768px) {
				span {
					display: unset;
				}
			}
		}

		&.prev {
			float: left;
		}

		&.next {
			float: right;
		}

		&.hidden {
			visibility: hidden;
		}

		&.current {
			color: $primary;
		}
	}
}