#logo {
	display: none;
	padding: 8px;

	svg {
		width: 100%;
		height: 100%;
	}

	path {
		animation: float 1s infinite ease-in-out alternate;
	}

	@media (min-width: $desktop) {
		display: block;
	}

}