::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	background: $shade7;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: $shade7;
}

::-webkit-scrollbar-thumb {
	background: $shade5;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
	color: $fontColorMinor;
}

* {
	scrollbar-width: thin;
	scrollbar-color: $shade5 transparent;
}