$scrollbarWidth: 10px;
$scrollbarColor: #353533;

* {
	scrollbar-width: thin;
	scrollbar-color: $scrollbarColor transparent;
}

::-webkit-scrollbar {
	width: $scrollbarWidth;
	height: $scrollbarWidth;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbarColor;

	&:hover {
		background-color: inherit;
	}
}