@charset "UTF-8";

@font-face {
	font-family: 'Ubuntu';
	src: url('ubuntu-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url('ubuntu-webfont-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Ubuntu-Lig';
	src: url('UbuntuMono-Lig.woff2') format('woff2'),
		url('UbuntuMono-Lig.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu-Fira';
	src: url('FiraCodeUbuntuMono-Regular.woff2') format('woff2'),
		url('FiraCodeUbuntuMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}