#confirm-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999998;
	transition: opacity ease-in-out 300ms;
}

#confirm-dialog {
	min-height: 150px;
	width: 600px;
	position: absolute;
	top: 10%;
	left: calc(50% - 200px);
	background-color: #333;
	border: 3px solid rgba(255, 255, 255, 0.5);

	padding: 15px;

	h2 {
		text-align: left;
		font-size: 18px;
	}
	.actions {
		display: flex;
		width: 100%;
		margin-top: 5px;
	}
}

.dialog-box {
	background: #f8f8f8;
	color: #39342d;
	box-shadow: inset 0 1px 0 #fff, 0 1px 3px rgba(0, 0, 0, .3);
	padding: 20px;
	max-width: 300px;
	position: absolute;
	z-index: 2;
}

.dialog-box button {
	color: #fff;
	border: 1px solid rgba(0, 0, 0, .2);
	background: #27ae60;
	border-radius: 2px;
	cursor: pointer;
}

#cancel {
	background-color: #e74c3c;
}

.overlay {
	padding: 0;
	margin: 0;
	background: rgba(0, 0, 0, .4);
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}