#finder-label {
	cursor: pointer;
}

#finder-wrapper {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0px;
	background-color: #222;
	display: none;
}

#finder-inner-wrapper {
	left: 0;
	right: 30px;
	top: 5px;
	bottom: 3px;
	position: absolute;
}

#finder {
	border: none;
	background: transparent;
	height: 24px;
	font-size: 11px;
	position: relative;
	margin-top: 3px;
	margin-left: 5px;
	padding: 0;
}

#finder-options-menu {
	top: 35px;
	right: 40px;
}

#finder-options-menu li.chosen {
	font-weight: 700;
	background: #3A3A3A;
}

#finder-options-menu li.chosen a {
	color: white;
}