#modal_wrapper {
	position: absolute;
	top: 15%;
	left: 50%;
	max-height: 70vh;
	max-width: 90vw;
	z-index: 9999999;
	min-height: 100px;
	min-width: 400px;

	@include border(3px);
	@include border-radius;
}

#modal_content {
	background-color: $background;

	form {
		padding: 0 10px;
		background-color: $midground;

		toolbar {
			margin: 0 -10px;
		}
	}
}