#modal_wrapper {
	display: none;
	position: absolute;
	top: 15%;
	left: 50%;
	max-height: 70vh;
	max-width: 90vw;
	// overflow: auto;
	// overflow-y:scroll;
	z-index: 9999999;
	min-height: 100px;
	min-width: 400px;
	border: $border-thick;
	@include border-radius;
}

#modal_content {
	background-color: $background;

	form {
		padding: 10px;
		background-color: $foreground;
	}

	h1 {
		font-size: 24px;
		padding: 2px 8px;
		font-weight: 700;
		// background-color: $dark-blue;
		background-color: $foreground;

		i {
			margin-right: 5px;
			display: none;
		}
	}

	h2 {
		font-size: 20px;
		padding: 0;

		i {
			margin-right: 5px;
		}
	}

	h3 {
		font-size: 18px;
		padding: 1px;

		i {
			margin-right: 5px;
		}
	}
}

#modal_loading {
	height: 100px;
	background: url('images/loading.gif') no-repeat center;
}