@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-MediumItalic.woff2') format('woff2'),
        url('JetBrainsMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-ExtraBold.woff2') format('woff2'),
        url('JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Bold.woff2') format('woff2'),
        url('JetBrainsMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Italic.woff2') format('woff2'),
        url('JetBrainsMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-BoldItalic.woff2') format('woff2'),
        url('JetBrainsMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Medium.woff2') format('woff2'),
        url('JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

