#ace_settingsmenu {
	border: 1px solid $grey !important;
	color: unset;
	background-color: $foreground;
	box-shadow: none;
	right: 14px;
	padding: 5px;

	label {
		font-size: unset;
	}

	table th,
	table td {
		padding: 0 3px;
		border-color: $raven;
	}

	table td[colspan="2"] {
		text-align: center;
		padding: 0;
		border: none;
	}

	button {
		margin: 3px 0;
		background-color: $white;
		box-shadow: none;
		border: none;
	}

	button+button,
	input+input {
		margin-left: 6px;
	}

	button[ace_selected_button=true] {
		background-color: $silver;
	}

	input[type="checkbox"] {
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}