fieldset {
	border: $border;
	border: 1px solid $colorMajor;
	background: $mideground;
	margin: auto;
	margin-top: 8px;
	width: 310px;
	padding: 0 10px 10px;
}

legend {
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
}

.btn,
input,
button,
textarea,
select {
	font: inherit;
	font-size: 1rem;
	background: rgba(0, 0, 0, 0.25);
	display: block;
	border: $border;
	border: 1px solid $colorMajor;
	text-align: left;
	margin: 5px 0;
	padding: 5px;
	width: 400px;
	color: inherit;
	outline: none;
	transition: $transitionBorder;

	&:focus,
	&:hover {
		color: inherit;
		border: 1px solid $colorMinor;
	}
}

input,
textarea {

	&+.btn,
	&+button,
	&+input[type="submit"] {
		margin-top: 0;
	}
}

.btn,
button,
input[type="submit"] {
	cursor: pointer;
	text-align: center;

	&:hover {
		border: 1px solid $colorMinor;
	}

	&.disabled {
		box-shadow: none;
		cursor: not-allowed;
		opacity: 0.5;
		pointer-events: none;
	}
}

// textarea {
// 	height: 150px;
// 	max-width: 100%;
// 	resize: none;
// }

// .download {
// 	margin: 0 auto;
// }