ul,
ol {

	&:not(:last-child),
	li:not(:last-child) {
		margin-bottom: 0.5em;
	}
}

ul {
	list-style: none;

	li {

		&:before {
			color: $colorMajor;
			content: "\2B22";
			margin-right: 5px;
			font-size: 12px;
			vertical-align: text-top;
			line-height: 1.2rem;
		}
	}
}