h1,
h2,
h3,
h4,
h5 {
	@include header();
}

h1 { @include header(1); }
h2 { @include header(2); }
h3 { @include header(3); }
h4 { @include header(4); }
h5 { @include header(5); }

p {
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}
		a {
		font-weight: normal;
	}
	
}

a {
	color: $primary;
	text-decoration: none;
	transition: $transitionColor;

	i {
		margin-right: 5px;
	}

	&:hover {
		color: $secondary;
		//text-decoration: underline;
	}

	&.dotted-link {
		border-bottom: 1px dotted $primary;

		&:hover {
			// text-decoration: none;
		}
	}
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

blockquote {
	margin: 1em 0;
	font-size: 20px;

	p {
		margin: 0;
	}
}

em {
	font-size: 12px;
	color: $gray;
	font-style: italic;
}

small {
	font-size: 0.8em;
}

strong {
	font-weight: bold;
}