h1,
h2,
h3,
h4 {
	color: var(--cMjr);
	font-weight: 700;
	margin: 0.5rem 0 1rem;

	a {
		border-bottom: 0;
	}

	@media (min-width: 760px) {
		vertical-align: middle;
	}

}

h1 {
	font-size: 2.0rem;
	text-align: center;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $colorMajor;
	text-decoration: none;
	transition: $transitionColor;

	i {
		margin-right: 5px;
	}

	&:hover {
		color: $colorMinor;

		.icon {
			fill: $colorMinor
		}
	}
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

small {
	font-size: 0.8em;
	color: $fontColorSmall;
}

strong {
	font-weight: bold;
}